<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<webParams>
  <!--Common-->
  <params key="demo1" text="1"/>
  <params key="test" text="中的分隔符" comment="页面title中的分隔符"/>
  <params key="Key" text=")O[NB]6,YF}+efcaj{+oESb9d8>Z'e9M" comment="页面title中的分隔符"/>
  <params key="IV" text="L+\~f4,Ir)b$=pkf" comment="页面title中的分隔符"/>
  <params key="Day" text="26" comment="每个月的那一天"/>
  <params key="DefaultPageCategory" text="3:2;4:8;5:6;6:6;8:5" comment="首页文章栏目及数量配置"/>
  <params key="JuHeWeatherKey" text="f951c53e460b78fb44c6dfd060160987" comment="聚合数据天气key"/>
  <params key="JuHeWeatherCity" text="鄂尔多斯" comment="聚合数据天气城市"/>
</webParams>
 
