body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video,section {  margin:0;padding:0;}
article,aside,footer,header,hgroup,nav,section,audio,canvas,video,img {   display: block;}
body {font-family:Helvetica,STHeiti,Droid Sans Fallback;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
textarea {resize: none;}
iframe,img {border:0;}
ul,ol {list-style:none;}
input,select,textarea {outline: 0;-webkit-user-modify: read-write-plaintext-only;}
input {-webkit-appearance: none;}
a{text-decoration: none;}
.fl{float: left;}
.fr{float: right;}
.dis{display: block;}
.undis{display: none;}
/*自适应全屏*/
html,body{position: relative;height: 100%; }
html{font-size:62.5%}
.layout{width:100%;background: #eee;font-size:1.4rem;padding-bottom:20px;}
/**首页**/
.layout_index{background: #fff;}
.indexTop{width:100%;height:369px;position: relative;background: url(/presaleimages/toppic.jpg) no-repeat;background-size:100%;}
.process{width:90%;position: absolute;left:5%;bottom:23px;}
.process img{width:100%;}
/*商品列表*/
.productList{width:100%;}

.productItem{width:100%;padding:15px 0;border-bottom:1px solid #cacaca;/*display:flex;display: -webkit-flex; */ }
.productBox,.liheItem{display: -webkit-box;width:92%;padding:0 4%;}
.productBox .productPic{width:100px;overflow: hidden;}
.productBox .productPic img{width:100px;height:100px;}
.productInfo{padding-left:10px;/* -webkit-flex:1;flex:1; */-webkit-box-flex: 1}
.productInfo h2{font-size:1.6rem;}
.productInfo h2 a{ color: #000;}
.productInfo p{margin-top:5px;font-size:1.4rem;}
.salePrice strong{font-size:2.5rem;}
.referencePrice{color: #909496;text-decoration: line-through;}
.buyBtn{text-align: right;}
.buyBtn a{display: inline-block;background: #e84810;color: #fff;font-size:1.6rem;height:25px;line-height:25px;padding: 0 15px;border-radius:25px;}
.orange{color: #e84810;}
/*礼盒*/
.liheBox{border-top:1px solid #e7e3e4;margin:15px 0 -15px;}
.lihetxt{height:25px;line-height:40px;color: #679b20;border-top:1px solid #e7e3e4;margin-top:15px; font-size:1.6rem;font-weight:normal; text-align: center;}
.liheItem{padding: 15px 4%;background: #f7f7f7;}
.liheBox .productPic{width:52px;}
.liheBox .productPic img{width:50px;height:50px;border: 1px solid #679b20;}
.liheBox .productInfo p{color: #626363;margin-top:15px;}
.liheBox .productInfo p span{margin-right:20px;}
/*我们的包装*/
.package,.wuliu,.about{width:92%;padding:0 4%;}
.package h2{margin:27px 0 16px;}
.package h2 img{width:100%;}
.packageSam{display: -webkit-box;}
.packageSam li{
	width:67px;
	overflow:hidden;
	margin: 0 5px;
	-webkit-box-flex: 1;
    text-align: center;
}
.packageSam li img{display: inline-block; width:65px;height:65px;border: 1px solid #ccc;border-radius:5px;}
.packageSam span{display: block;text-align: center;color: #679b20;padding: 10px 0 0;}
/*礼盒包装*/
.packageWrap{margin-top:15px;}
.packageWrap h2{width:107px;height:20px;}
.packageWrap h2 img{width:100%;height:100%;}
.packagePic{border: 2px solid #679b20;width:100%;}
.packagePic img{width:100%;}
/*物流*/
.wuliu{margin-top:15px;}
.wuliu img{width:100%;}
/*关于我们*/
.about{margin-top:15px;background: url(/presaleimages/aboutBg.png);padding-top: 22px;padding-bottom: 40px;}
.mobile{display: block;width:100%;}
.mobile img{width:100%;}
.twoma{display: block; border: 1px solid #606264;background: #eff3fa;padding:2px;width:96px;margin: -4px auto 0;}
.twoma img{width:96px;height:96px;}



/**订单详情页**/
.orderInfo{width:100%;background: #fff;}
.orderProduct{position: relative;width:100%;background: #fff;}
.orderProduct img{width:100%;}
.orderProduct span{
	position: absolute;
	bottom:0;
	left:0;
	padding:0 3%;
	width:94%;
	height:30px;
	background: rgba(0,0,0,.6);
	line-height:30px;
	font-size:1.4rem;
	color: #fff;
}
.orInderMore{width:94%;margin: 0 auto;color: #999;padding: 5px 0 10px;}
.orInderMore p,.orInderMore dl{margin-top:5px;overflow: hidden;}
.price span strong{font-size:2.4rem;}
.orInderMore dl{display: -webkit-box;font-size:1.4rem;}
.orInderMore dt,.orInderMore dd{}
.orInderMore dt{width:70px;text-align:justify;}
.orInderMore dd{-webkit-box-flex: 1;color: #303132;line-height:18px;}
/*订单数量*/
.orderNum{width:94%;padding:12px 3%;background: #fff;margin:10px 0;overflow: hidden;font-size:1.4rem;}
.orderNum .txt{color: #303132;line-height:28px;}
.buy_amount{
	float: right;
    width:110px;
    height: 28px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.buy_amount a{
    border: 1px solid #c9c9c9;
    color: #ccc;
    display: block;
    height: 26px;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}
.buy_amount a:hover{text-decoration: none;color: #f20804;}
.buy_amount .text-amount {
    width: 50px;height:18px;border: 1px solid #c9c9c9;
    position: absolute;top: 0;left: 29px;
    background: #fff;color: #333;
    padding: 4px 0;
    line-height: 18px;
    text-align: center;
    font-size:1.6rem;
    z-index: 2;
}
.buy_amount .minus, .buy_amount .no-minus {
    border-right-color: transparent;
    left: 0;
    border-radius:2px 0 0 2px;
}
.buy_amount.no-plus, .buy_amount .plus {
    border-left-color: transparent;
    right: 0;
    border-radius:0 2px 2px 0;
}
/*收货人*/
.buyerInfo{background: #fff;width:100%;padding: 5px 0;font-size:1.4rem;}
.buyerInfo p,.selAdress{width:94%;padding:10px 3%;border-bottom:1px solid #eee;}
.buyerInfo .txt{color: #303132;margin-right:10px;}
.buyerInfo input[type="text"]{border:0;font-size:1.4rem;width:72%;}
.buyerInfo input[type="text"]:nth-child(2){width:60%;}
.selAdress{ height: 26px;line-height: 26px;}
.buyerInfo .txt,.buyerInfo .select{ float: left;display: inline;}
.buyerInfo .select {
    margin-left:5px;
    width:23%;
    border:1px solid #BBBBBB;
    padding-right: 5px;
    border-radius:4px;
    position:relative;
    overflow:hidden
}
.buyerInfo select{
    -webkit-appearance:none;appearance:none;
    background:url("/images/sjdown.png") no-repeat right 7px;
    background-size:13px 9px;
}
.buyerInfo .select .text {
    -webkit-appearance:none;
    appearance:none;
    border:none;
    padding:3px 20px 3px 5px;
    display:block;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color: #FFFFFF;
    color:#333333;
    border-radius:4px;
}
.buyerInfo .select .arrow-down {
    position:absolute;
    right:5px;
    top:8px;
    display:inline-block;
    cursor:pointer;
    width:13px;
    height:9px;
   
    text-indent:-9999px;
}

.buyBtn,.nobuyBtn{widtH:94%;margin: 18px auto 0; }
.buyBtn input,.nobuyBtn input{
	width:100%;height:40px;line-height:40px;
	border: none;border-radius:4px;
	font-size:1.6rem;color: #fff; text-align: center;
}
.buyBtn input{background: #e84810;}
.nobuyBtn input{background: #DDD;}
/*购买须知*/
.buyNote{width:94%;padding:12px 3%;background: #fff;border-top:1px solid #679b20;margin-top:15px;}
.buyNote h2 img{width:100%;}
.knowInfo{padding-top:5px;margin-bottom:15px;}
.knowInfo li{margin-top:10px;line-height:16px;position: relative;padding-left:12px;color: #303132;}
.knowInfo li:before{
	content: '';
    display:block;
    width:6px;
    height:6px;
    overflow: hidden;
    position:absolute;
    left:0;
    top:5px;
    background: #679b20;
    border-radius:100%;
}
.knowMore h3{
	width:100%;
	height:20px;
	line-height:20px;
	overflow: hidden;
	margin-bottom:10px;
	color: #fff;
	background: #679b20;
	border-radius:100px;
	font-weight:normal;
	text-align: center;
}
.knowMore dt,.knowMore dd{margin-top:8px;width:96%;width:0 auto;}
.knowMore dt span,.knowMore dd span{
	display: inline-block;
	border-radius:20px;
	padding: 10px 15px;
    line-height: 16px;
    position: relative;
}
.knowMore dt span{background: #eef3f8;color: #4283c4;}
.knowMore dd span{background: #f6f9f1;color: #52791c;}
.knowMore dt span:before,.knowMore dd span:before{
	content: '';/*伪类下的属性*/
    display:block;
    overflow:hidden;
    position:absolute;
    width:14px;
	height:7px;
    
}
.knowMore dt span:before{
	bottom:3px;
    left:-3px;
    background: url(/presaleimages/jiaoL.png);
    background-size:100%;
}
.knowMore dd span:before{
    background: url(/presaleimages/jiaoR.png);
    background-size:100%;
    bottom:5px;
    right:-4px;
}



/**订单列表页**/
.orderList{background: #fff;width:100%;padding: 10px 0;margin-top:10px;}
.orderTitle,.orderDetail,.orAddress{width:94%;margin: 0 auto;}
.orderTitle{padding:0 3%;border-bottom:1px solid #eee;height:34px;line-height:34px;overflow: hidden;}
.orderBh{font-size:1.4rem;color: #909496;}
.orderBh{font-size:1.4rem;color: #909496;}
.orderStatus{float: right;font-size:1.6rem;color: #be2539;}
.orderPayed{color: #be2539;}
.orderShip{color: #3fb76e;}
.orderDetail{padding-top:15px;overflow: hidden;}
.orderProductInfo{width:60%;float: left;display:box;display: -webkit-box;}
.orderProductInfo img{width:55px;height:55px;margin-right:12px;}
.orderProductInfo h4{color: #303132;line-height:18px;-webkit-box-flex: 1;margin-top:-2px;}
.orderOther{float: right;width:35%;color: #666;}
.orderOther p{margin-bottom:10px;}
/*收货地址*/
.orderAddress{margin-top:-10px;border-top:1px solid #eee;padding-top:6px;background: #fff;}
.orAddress{background: #fffcf0;position: relative;padding: 14px 0;color: #303132;}
.orAddress:before,.orAddress:after{
    content: '';
    display:block;
    width:100%;
    height:4px;
    overflow: hidden;
    position:absolute;
    left:0;
    background: url(/presaleimages/line.png);
}
.orAddress:before{top:0;}
.orAddress:after{bottom:0;}
.orAddress p:nth-child(1){}
.orAddress p{padding:6px 10px 0;}
.orAddress p.orderWlnum{text-align: right;padding-top:12px;}
.orAddress .name{margin-right:6px;}.orAddress .phone{margin-left:6px;}
.orderWlnum span{font-size:1.2rem;color: #909496;}
.orderStep{ width: 100%;padding: 8px 0 5px;background: #fff;}
.orderStep img{ width: 100%;}


/*媒体查询*/
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
    .class{}
}

@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
    .class{}
}

@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 */
    .class{}
}

@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 Plus */
    .class{}
}
