@charset "utf-8";
/* CSS Document */
/*羊客 登录页面样式*/
body{ font-family:"微软雅黑"}
.sheep_guest{ min-width:320px; max-width:640px; margin:0 auto 8rem;font-family:"微软雅黑";}
a,a:hover{ text-decoration:none;}
.login{ width:100%; height:100%; background:url(../images/bg.jpg) no-repeat; background-size:100% 100%;}
.logo{ width:10rem; height:12rem; background:url(../images/bg.png) no-repeat;background-size:25rem 25rem; background-position:0rem 4rem; margin:0rem auto;}
@media screen and (max-width:320px){.logo{height:10rem; background-position:0rem 2rem;}}
.from{ width:24rem; height:1.6rem; background:url(../images/from.png) no-repeat; margin:1rem auto 0rem; background-size:24rem 1.6rem; }
.login_content{ width:88%; bottom:2rem; margin:40% 6% 0rem;}
/* iphone6  */
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {.login_content{margin:53% 6% 0rem;}}
/* iphone6 plus */
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {.login_content{ margin:61% 6% 0rem;}}
@media screen and (max-width:320px){.login_content{margin:16% 6% 0rem;}}
@media screen and (max-width:320px){.login_content1{height:3.2rem; line-height:3.2rem;}}
@media screen and (max-width:320px){.get_yzm_btn{height:3.2rem; line-height:3.2rem;}}
@media screen and (max-width:320px){.go_myfarm{height:3.2rem; line-height:3.2rem;}}
@media screen and (max-width:320px){.login_content1{ margin-bottom:0.8rem;}}
@media screen and (max-width:320px){.bdwxh{ margin-top:0.8rem;}}
.login_content1{ width:100%; height:4rem; border:1px solid #9fdbb7; border-radius:0.3rem; position:relative; margin-bottom:1rem;}
.opacity_box{ width:100%; height:100%; background:#fff; opacity:0.2; position:absolute; top:0rem; left:0rem; z-index:1;}
.login_content1 span{ float:left; display:inline-block;}
.login_content1 .span1{ width:1.8rem; height:1.8rem; background:url(../images/bg.png) no-repeat; background-size:30rem 30rem; background-position:0rem -16.8rem; position:absolute; z-index:2; top:1.1rem; left:1.5rem;}
.login_content1 input{ height:100%; width:80%; float:left; border-style:none; color:#fff; font-family:"arial"; font-size:1.4rem; position:absolute; top:0rem; left:5rem; z-index:2; background:none;}
.login_content1 .span2{ width:2.2rem; height:2.2rem; background:url(../images/bg.png) no-repeat; background-size:30rem 30rem; background-position:0rem -23rem; position:absolute; z-index:2; top:0.9rem; right:4%;}

.login_content2{ float:left; width:68%; margin-right:2%;}
.get_yzm_btn{ float:right; width:28%; height:4rem; text-align:center; line-height:4rem; background:#fff; opacity:0.8; border:1px solid #006a53; border-radius:3px; margin-right:-2px;}
.login_content2 input{ width:72%;}
.get_yzm_btn a{ display:inline-block; width:100%; height:100%; color:#006a53; font-size:1.4rem; font-family:"微软雅黑";}
.login_content2 .span1 {background:url(../images/bg.png) no-repeat; background-size:30rem 30rem; background-position:-6.4rem -16.8rem; height: 1.8rem;left: 1.5rem;position: absolute; top: 1.1rem;width: 1.8rem;z-index: 2;}
.go_myfarm{ width:100%; height:4rem; line-height:4rem;text-align:center; background:#006a53; border:1px solid #006a53; border-radius:0.3rem; box-shadow:0px 3px 3px #379f60;}
.go_myfarm:visited,.go_myfarm:hover,.go_myfarm:active{ background:#03493a;}
.bdwxh:visited,.bdwxh:hover,.bdwxh:active{ background:#02865b;}
.go_myfarm a{ font-size:1.6rem; font-family:"微软雅黑"; color:#fff;}
.no_click{ background:#8ae0c3; color:#74ceb0; font-size:1.6rem;border:1px solid #8ae0c3;}
.bdwxh{ background:#00aa72; margin-top:1rem; border:1px solid #00aa72;}
/*首页*/
.index{margin: 0 auto 8rem;}
.realtime_pasture{ position:relative; font-family:"微软雅黑";} 
.pic_bg{ width:100%; height:auto; text-align:center; }
.pic_bg img{ display:inline-block; width:100%; height:auto;}
.realtime_pasture_l{left:1rem;}
.realtime_pasture_l,.realtime_pasture_r{ position:absolute; top:3rem; width:30%;}
.realtime_pasture_l span{ display:block; color:#fff;}
.realtime_pasture_l .span1{ font-size:1.4rem;}
.realtime_pasture_l .span2{ font-size:5rem; font-family:"arial"; margin-top:2rem; }
.realtime_pasture_r{ right:1rem; width:48%; color:#fff; font-size:1.2rem;}
.realtime_pasture_rbox{ width:100%; position:relative;}
.pasture_weather{ position:absolute; z-index:2; top:0rem; left:0rem; width:100%; background:url(../images/opacity_bg.png) repeat; padding:1rem;}
.pasture_weather .p1{ width:100%; text-align:center;}
.Temperature{ margin:1rem 0rem;}
.Temperature_l{ float:left; width:62%; border-right:1px solid #fff;}
.Temperature_l span{ display:block; text-align:right; margin-right:0.5rem;}
.Temperature_r{ float:left; width:36%;}
.Temperature_r span{ display:inline-block; width:3rem; height:3rem; background:url(../images/bg.png) no-repeat; background-size:25rem 25rem; background-position:-5rem -19rem;}
.realtime_pasture_btn{ width:100%; height:3rem; background:#006a53; border-radius:3px; margin-top:1rem; text-align:center; line-height:3rem;}
.realtime_pasture_btn a{ font-size:1.4rem; color:#fff; display:inline-block; padding-left:0.5rem; float:left;}
.realtime_pasture_btn span{ display:inline-block; width:1.6rem; height:1.6rem;background:url(../images/bg.png) no-repeat; background-size:25rem 25rem; background-position:-13.5rem 0.1rem; float: left;margin: 0.7rem 0rem 0rem 20%;}
@media screen and (max-width:320px){.realtime_pasture_r{ top:1rem;}}
@media screen and (max-width:320px){.realtime_pasture_l{ top:1rem;}}
@media screen and (max-width:320px){.Temperature{ margin:0.5rem 0rem;}}

.Claim_sheep{ margin-top:1rem;}
.Claim_sheep1{ width:100%; background:#fff; margin-bottom:1.5rem; border-bottom:1px solid #d0d0d0;}
.Claim_sheep1_box{ margin:1rem; padding:1rem 0rem; position:relative;}
.hot_sale{ position:absolute; right:-2.9rem; top:-1.2rem; width:7rem; height:7rem; background:url(../images/bg.png) no-repeat; background-size:25rem 25rem; background-position:-13.5rem -9.5rem;}
.Claim_sheep1_box .p1{ color:#006346; font-size:1.6rem;}
.Claim_sheep1_box .p2{ color:#999; font-size:1.2rem; line-height:2.4rem; width:100%; border-bottom:1px solid #eee;}
.Claim_sheep1_box_content ul{ width:100%; margin-top:1rem;}
.Claim_sheep1_box_content ul li{ width:19.5%; float:left; text-align:center; height:8rem; border-right:1px solid #eee;}
.Claim_sheep1_box_content ul li span{ display:block; line-height:4rem;}
.Claim_sheep1_box_content ul li .span1{ color:#738880; font-size:1.2rem;}
.Claim_sheep1_box_content ul li .span1 em{ font-size:1.6rem;}
.Claim_sheep1_box_content ul li .span2{ color:#bbb; font-size:1.4rem;}
.Claim_sheep1_box_content ul .li1 img{ width:100%; height:8rem;}
.Claim_sheep1_box_content ul .li1,.Claim_sheep1_box_content ul .last_li{border-right:none;}
.detail{ margin-top: 1.5rem;padding-bottom: 0.5rem;position: relative;}
.detail_l{ float:left; width:28%; height:4rem; line-height:4rem; text-align:center; border:1px solid #738880;border-radius:0.3rem;}
.detail_l a{ color:#738880; background:url(../images/bg.png) no-repeat right center; background-size:25rem 25rem; background-position:-10.3rem -18.7rem; padding-right:1.5rem;}
.detail_r{ float:right; width:70%; height:4rem; text-align:center; line-height:4rem; background:#3fb76e; border-radius:0.3rem; }
.detail_r:hover,.detail_r:active,.detail_r:visited{ background:#0db44f;}
.detail_r a{ display:inline-block;width:70%; height:4rem; color:#fff; font-size:1.4rem;}
.bottom_float{ width:100%; height:6rem; border-top:1px solid #d0d0d0; background:#f2f2f2; position:fixed; bottom:0rem;z-index: 101;}
.bottom_float li{ float:left; width:33.33%; position:relative;}
.bottom_float li span{ display:inline-block; width:2.4rem; height:2.6rem; position:absolute; margin-top:1rem; left:50%; margin-left:-1.3rem;background:url(../images/bg2.png) no-repeat right center; background-size:25rem 25rem;}
.bottom_float .li1 span{ background-position:0.2rem -8rem; width:3rem; height:2.6rem;}
.bottom_float .active span{ background-position:0.2rem -22rem; width:3rem; height:2.6rem;}
.bottom_float .active p{ color:#ff9500;}
.bottom_float .li2 span{ background-position:0.2rem 0.2rem;}
.bottom_float .li3 span{ background-position:0.2rem -3.8rem;}
.bottom_float li p{ text-align:center; line-height:2.4rem; width:100%; font-size:1.2rem; color:#006a53; margin-top:3.6rem;}
.coming_soon{ background-position: -18rem -18.9rem;}
/*首页 详情*/
.detail_l_active{ border:1px solid #f6b23c; position:relative;}
.detail_l_active a{ color:#738880; background:url(../images/bg.png) no-repeat right center; background-size:25rem 25rem; background-position:-9.7rem -23.8rem; padding-right:1.5rem;}
.down_up_arrow {background:url(../images/bg.png) no-repeat -22.2rem 0rem / 25rem 25rem;bottom: -0.8rem;height: 0.8rem;left: 48%;position: absolute;width:1.2rem;}
.detail_content{ width:100%; top:6rem; left:0rem; z-index:100; background:#fff; border:1px solid #ff9500;}
.detail_content table th{ border-bottom:1px solid #ff9500; text-align:left; padding:0.5rem 1rem; font-size:1.4rem; color:#999; font-weight:normal;}
.detail_content table .th2{ color:#333;}
.detail_content table td{text-align:left; padding:0.5rem 1rem; font-size:1.4rem; color:#999; border-bottom:1px solid #eee;}
.detail_content table .td2{ color:#333;}
/*我的*/
.my{font-family:"微软雅黑";}
.my_top { position:relative;}
.my_top_pic{height: auto;text-align: center;width: 100%;}
.my_top_pic img{display: inline-block;height: auto;width: 100%;}
.tx_box{ position:absolute; top:16%; left:1rem;}
.tx_box span{ display:inline-block;}
.tx_box .span1,.tx_box .span1 img{ display:inline-block; width:8rem; height:8rem; border-radius:50%;}
.tx_box .span2{ margin-left:1rem; line-height:8rem; font-size:2rem; font-family:"arial";color:#fff;}
.lastest_farm{ width:8rem; height:5rem;background:url(../images/bg2.png) no-repeat; background-size:25rem 25rem; background-position:-4.8rem 0rem;position:absolute; top:20%; right:0rem;}
@media screen and (max-width:320px){.tx_box{ top:14%;}}
@media screen and (max-width:320px){.lastest_farm{ top:18%;}}
.my_top_opacity{position:absolute; bottom:0rem; left:0rem;width:100%; height:4rem; background:#006346; opacity:0.6;}
.my_top_from{background:url(../images/from2.png) no-repeat; background-size:24rem 1.6rem; height: 1.6rem; margin: 0rem auto; width: 24rem;position:absolute; bottom:1.2rem; margin-left:-12rem; left:50%;}
.my_list{ margin-top:1.5rem;}
.my_list ul{ border-bottom:1px solid #d0d0d0; background:#fff;}
.my_list ul li{ height:6rem; line-height:6rem; border-bottom:1px solid #eee;}
.my_list ul li a{ display:inline-block; width:100%; height:100%; color:#666; font-size:1.6rem;}
.my_list ul li span{ display:inline-block;}
.my_list ul li .span_logo{ float:left; width:3rem; height:3rem;background:url(../images/bg2.png) no-repeat; background-size:25rem 25rem; margin:1.5rem 0rem 0rem 1.5rem;}
.my_list ul li .span1{ float:left; margin-left:1rem;}
.my_list ul li .span2{ float:right; margin-right:2rem; width:1rem; height:1.8rem;background:url(../images/bg2.png) no-repeat; background-size:25rem 25rem;background-position:-5.8rem -22.5rem; margin-top:2.1rem;}
.my_list ul .li1 .span_logo{ background-position:-5.8rem -6.5rem;}
.my_list ul .li2 .span_logo{ background-position:-5.8rem -11.5rem;}
.my_list ul .li1 .no_message{ background-position:-22rem 0.3rem;}
.my_list ul .li3 .span_logo{ background-position:-5.8rem -17.5rem;}
.quit_login{ width:100%; height:5rem; background:#fff;border-bottom:1px solid #d0d0d0; text-align:center; line-height:5rem; margin-top:1.5rem;}
.quit_login a{color:#666; font-size:1.6rem; display:inline-block; width:100%; height:5rem; line-height:5rem;}
.bottom_float .active_my span{ background-position: 0.2rem -12.2rem;}
.bottom_float .active_my p{ color:#ff9500;}
/*钱包*/
.wallet{font-family:"微软雅黑"; color:#fff; margin: 0 auto 8rem;}
.wallet_top_content{ position:absolute; top:10%; width:100%;}
.wallet_top_content_l{ float:left; margin-left:1.5rem;}
.wallet_top_content_r{ float:right; margin-right:1.5rem;}
.wallet_top_content_l .p1{ font-size:1.2rem;}
.wallet_top_content_l .p2{ font-size:5rem; margin-top:2rem; font-family:"Arial";}
.wallet_top_content_r p{ text-align:right; line-height:3rem;}
@media screen and (max-width:320px){.wallet_top_content_r p{ text-align:right; line-height:2.4rem;}}
.wallet_top_content_r p span{ display:block;}
/*投资报表*/
.tzbb{ margin-top:1.5rem; background:#fff; padding-top:1rem; border-bottom:1px solid #d0d0d0;}
.tzbb_box{ width:94%; margin:0rem 3%;}
.tzbb_box h3{ font-size:1.4rem; line-height:3rem; border-bottom:1px solid #eee; color:#666;}
.tzbb_box ul{ margin:1rem 0rem;}
.tzbb_box ul li{ width:33.3%; float:left; padding:0.5rem 0rem; border-right:1px solid #eee;}
.tzbb_box ul li span{ display:block; line-height:3rem; font-size:1.2rem; color:#bbb; width:100%; text-align:center;}
.tzbb_box ul li .span2{ color:#738880; font-size:1.4rem;}
.Settlement{ width:94%; margin:1.5rem 3%; height:5rem; line-height:5rem; background:#3fb76e; border-radius:0.3rem; text-align:center;}
.Settlement a{ font-size:1.6rem; color:#fff; display:inline-block; width:100%; height:100%;}
.bottom_float .active_wallet span{background-position: 0.2rem -16.3rem;}
.bottom_float .active_wallet p{ color:#ff9500;}
/*育肥状态*/
.fattening_state{ width:100%; background:#faf5f2; padding:1rem 0rem 2rem 0rem;}
.fattening_statebox{ width:94%; margin:0rem 3%;} 
.fattening_statebox h3{  color: #666;font-size: 1.4rem;line-height: 3rem;}
.sheep_grow{ width:100%; margin-top:2rem; vertical-align:bottom; height:10rem;}
.sheep_grow li{ float:left; width:20%; text-align:center; height:10rem; position:relative;}
.sheep_grow .li1 img{ width:50%; height:auto; position:absolute; left:25%; bottom:0rem;}
.sheep_grow .li2 img{ width:60%; height:auto; position:absolute; left:20%; bottom:0rem;}
.sheep_grow .li3 img{ width:70%; height:auto; position:absolute; left:15%; bottom:0rem;}
.sheep_grow .li4 img{ width:80%; height:auto; position:absolute; left:10%; bottom:0rem;}
.sheep_grow .li5 img{ width:90%; height:auto; position:absolute; left:5%; bottom:0rem;}
.progress_bar{ width:100%; height:2rem; margin-top:1rem; background:url(../images/step_bg.png) no-repeat; background-size:100% 2rem; position:relative;}
.progress_bar span{ display:block; height:1.5rem; width:20%; background:-moz-linear-gradient( left,#f76624,#ff9900); border-radius:10px; position:absolute; top:0.4rem; left:0rem; }
/*即时购买*/
.purchase_claim{ margin-bottom:8rem;}
.purchase_claim_section1{ background:#fff; padding-bottom:2rem;}
.purchase_claim_section1box{ width:94%; margin:0rem 3%;}
.purchase_claim_section1box h3{ line-height:5rem; font-size:1.6rem; color:#006a53;}
.purchase_claim_section1box h3 span{ padding-left:1rem; border-left:2px solid #006a53}
.periods_l{ float:left; width:8rem; height:8rem;}
.periods_l img{ display:inline-block;width:8rem; height:8rem;}
@media screen and (max-width:320px){.periods_l{width:7rem; height:7rem;}}
@media screen and (max-width:320px){.periods_l img{width:7rem; height:7rem;}}
.periods_r{ float:left; margin-left:1rem; max-width:70%; font-size:1.4rem; color:#333; border-left:1px solid #eee; padding-left:1%;}
.periods_r p{ margin-bottom:0.9rem;}
.left_sheep{ margin-top:1.5rem; width:100%; border:1px solid #eee;}
.left_sheep_content{ width:94%; margin:2rem 3% 1rem;}
.left_sheep_content p{font-size:1.4rem; color:#333; margin-bottom:1rem;}
.order_numbox .p1{ float:left; line-height:3rem; margin-left:1rem;}
.left_sheep_content .p1 .span1,.order_num_l,.order_num{ float:left;}
.left_sheep_content .p1 .span2,.order_num_r{ float:right;}
.left_sheep_content .p1 .span2{ margin-left:1rem; font-size:1.6rem;}
.order_num_r{ width:11.4rem; height:3.6rem; border:1px solid #eee; margin-left:0.8rem; overflow:hidden;}
.order_num{ height:3.6rem; line-height:3.2rem; padding-bottom:4rem;}
.order_num_r span{ display:inline-block; width:3.45rem; height:3.6rem; line-height:3.2rem; text-align:center; border-right:1px solid #eee; font-size:34px; cursor: pointer; float:left; font-weight:bold;}
.order_num_r .span2_visited{ background:#eee;}
.order_num_r .span2{ border-left:1px solid #eee; border-right:none;}
.order_num_r input{width:4.3rem;border-style: none;display: inline-block;height: 3.4rem;line-height: 3.4rem;padding: 0px;float: left; text-align:center; }
.purchase_claim_section2{ width:94%; margin:-1.3rem 3% 0rem; background:#fff; border-radius:3px;}
.ranking_List{ position:relative;}
.ranking_List_box{background:url(../images/bg2.png) no-repeat; width:15rem; height:3rem; line-height:3rem; text-align:center; background-size:26.4rem 26rem;background-position:-12rem -6.5rem; font-size:1.4rem; color:#fff; margin:0 auto; top:1rem;}
.purchase_claim_section2 ul{ width:94%; padding:2rem 0rem 0rem 0rem; margin:0rem 3%;}
.purchase_claim_section2 ul li{ height:5rem; line-height:5rem; border-bottom:1px dashed #eee;}
.purchase_claim_section2 ul li .iconfont{ float:left; display:inline-block;width:1.8rem; height:2.2rem; background:url(../images/bg3.png) no-repeat; background-size:25rem 25rem;background-position:0rem 0rem; margin:1.4rem 0.5rem;}
.purchase_claim_section2 ul .li2 .iconfont{background-position:0rem -3rem;}
.purchase_claim_section2 ul .li3 .iconfont{background-position:0rem -6.3rem;}
.ranking_num{ display:inline-block; width:2.8rem; height:5rem; text-align:center; line-height:5rem; font-family:"arival"; font-size:1.6rem; color:#006a53; float:left;}
.purchase_claim_section2 ul i,.purchase_claim_section2 ul img,.purchase_claim_section2 ul .span1{ float:left;}
.purchase_claim_section2 ul .span2{ float:right; font-size:1.6rem; color:#ff612a;}
.purchase_claim_section2 ul img{ display:inline-block; width:3rem; height:3rem; margin:1rem;}
.purchase_claim_section2 ul .span1{ font-size:1.6rem; color:#666;}
.purchase_claim_section2 ul .loading_more { border-bottom:none;}
.loading_more a{ text-align:center; display:block; font-size:1.6rem; color:#999;}
.read_agree{ height:6rem; line-height:6rem; width:94%; margin:0rem 3% 0rem 3%; font-size:1.6rem; color:#333;}
.read_agree .no_agree{ float:left; width:1.6rem; height:1.6rem; background:url(../images/bg2.png) no-repeat; background-size:25rem 25rem;background-position:-12rem -13.2rem; margin-top:2.1rem;}
.read_agree .agree_ment{ float:left; width:1.6rem; height:1.5rem; background:url(../images/bg2.png) no-repeat; background-size:25rem 25rem;background-position:-12rem -17.6rem; margin-top:2.1rem;}
.read_agree .span2{ float:left; margin-left:1rem;}
.sure_book{ width:94%; height:5rem; line-height:5rem; background:#3fb76e; border-radius:3px; margin:1rem 3% 2rem 3%; text-align:center;}
.sure_book a{ color:#fff; font-size:1.6rem; display:inline-block; width:100%; height:100%;}
.sure_book a:hover,.sure_book a:active,.sure_book a:visited{background:#0db44f;}
.Settlement a:hover,.Settlement a:active,.Settlement a:visited{background:#0db44f;}
.purchase_claim_section3{ width:94%; margin:1.5rem 3%; background:#fff; border-radius:0.3rem;}
.pk_box_l,.pk_box_m,.pk_box_r{ float:left;}
.pk_box_l,.pk_box_r{ width:45%;}
.pk_box_m{ width:2.4rem; height:8rem; background:url(../images/bg3.png) no-repeat; background-size:30rem 30rem;background-position:0rem -12rem;}
.pk_box_l p,.pk_box_r p{ width:100%; text-align:center; height:4rem; line-height:4rem; color:#a5abb2; font-size:1.2rem;}
.pk_box_l .p2,.pk_box_r .p2{color:#ff612a; font-size:1.6rem;font-family:"arival"; line-height:3rem;}
/*支付方式*/
.order_num2{ line-height:4rem;border-bottom:1px solid #eee;}
.order_total{ line-height:4rem;}
.pay_way .purchase_claim_section1{ padding-bottom:0rem;}
.to_pay{ margin-top:1.5rem; background:#fff; padding-bottom:1.5rem;}
.to_pay_box{ width:94%; margin:0rem 3%;}
.to_pay_box h3{ height:5rem; line-height:5rem; color:#999; font-size:1.4rem;}
.choice_pay_zfb,.choice_pay_zz{ float:left; width:45%;}
.choice_pay_zfb{ margin-right:4%;}
.choice_pay_zfb img,.choice_pay_zz img{ width:100%; height:auto;}
/*支付成功*/
.pay_sucess_box{ width:100%; background:#3fb76e; padding-bottom:1.5rem;}
.pay_sucess_box p{ color:#fff;}
.pay_sucess_box .p1{ font-size:1.6rem; width:100%; text-align:center; line-height:3rem;}
.sucess_content{ width:94%; margin:1rem 3% 0rem 3%; border:1px solid #fff;}
.pay_sucess_box .p2{ margin:1rem 0rem 0.5rem 2%; font-size:1.4rem;}
.pay_sucess_box .p3{ margin:0rem 0rem 1rem 2%; font-size:1.4rem;}
.search_order{ width:100%; padding:1rem 0rem; background:#fff;}
.search_order a{ width:45%; display:inline-block; height:5rem;line-height:5rem; text-align:center;font-size:1.6rem; color:#3fb76e; border:1px solid #3fb76e;}
.search_order .a1{ margin:0rem 4% 0rem 3%;}
.sucess_logo{ width:100%; height:8rem; padding:2rem 0rem 1rem 0rem;}
.sucess_logo .iconfont{ width:6rem; height:6rem; background:url(../images/bg3.png) no-repeat; background-size:30rem 30rem;background-position:-7.7rem 0rem; margin:0 auto;}
.transfer_a_logo .iconfont{background-position:-15.9rem 0rem;}
/*消息*/
.message_ul{ background:#fff;}
.message_ul li{ width:100%; border-bottom:1px solid #eee; padding:1rem 0rem;}
.li_l{ float:left; width:20%; }
.li_l span{ display:inline-block; width:60%; height:auto; margin-left: 20%; }
.li_l span img{ display:inline-block; width:100%; height:auto;}
.li_r{ width:70%; padding-left:2%; border-left:1px dashed #eee; float:left;}
.li_r span{ display:block;}
.li_r .span1{ font-size:1.6rem; color:#333;}
.li_r .span2{ font-size:1.4rem; color:#999;}
/*我的订单*/
.my_order_section1{ background: #fff; padding-bottom: 1rem; margin-bottom: 1.5rem;}
.my_order_section1 .order_station{ line-height: 4rem; border-bottom: 1px solid #eee;}
.my_order_section1 .order_station .span1{ float: left; font-size: 1.2rem; color: #666; margin-left: 3%;}
.my_order_section1 .order_station .span2{ float: right; font-size: 1.4rem; color: #ff9c11; margin-right: 3%;}
.order_detail{margin-top: 1rem; padding-bottom: 1rem;border-bottom: 1px solid #eee;}
.order_detail_l,.order_detail_m,.order_detail_r{ float: left;}
.order_detail_l{ width: 15%; margin-left: 3%;}
.order_detail_l img{ width:100%; height: auto;}
.order_detail_m{ width:40%; margin-left: 2%; line-height: 2rem;font-size:1.2rem; color:#666; margin-top: -0.4rem;}
.order_detail_r{ width: 37%; margin-left: 2%}
.order_detail_r p{font-size:1.2rem; color:#666; margin-bottom: 0.5rem;}
.how_about_order{ margin-top: 1.5rem;}
.how_about_order a{display: inline-block;width: 45%; height: 5rem; line-height: 5rem; text-align: center;font-size: 1.6rem; color: #fff; border-radius: 0.3rem;}
.how_about_order .a1{  margin-left: 3%; background: #3fb76e; }
.how_about_order .a1:hover,.how_about_order:active,.how_about_order:visited{ background:#0db44f;}
.how_about_order .a2{  margin-left: 4%; background: #ff9500;}
.how_about_order .a2:hover,.how_about_order .a2:active,.how_about_order .a2:visited{ background:#ec900e;}
.how_about_order .reed_btn{ width: 94%;}
/*分享*/
.share_to_opacity{ position:absolute; height:100%; width:100%; background:#000; opacity:0.8; top:0px; z-index:1000;}
.share_to_box{ position:absolute; z-index:1001; top:3rem; right:2rem; width:80%; height:auto; text-align:right;}
.share_to_box img{ display:inline-block; width:100%; height:auto;}
/*用户协议*/
.user_agreement_top{ width:100%; height:auto;}
.user_agreement_top img{ display:inline-block; width:100%; height:auto;}
.agreement_title{ margin:1rem 3% 0rem; width:94%; text-align:center; line-height:4rem; border-bottom:1px solid #006953; font-size:1.6rem; color:#006954;}
.agreement_comment{ width:94%; margin:0.5rem 3%; padding-top:0.5rem; border-top:1px solid #006953; }
.agreement_comment_p{ margin:1rem 0rem; line-height:2rem; font-size:1.2rem; color:#606c77;}
.agreement_comment_h2{ line-height:4rem; color:#606c77; font-weight:500;}
.common_p{line-height:2rem; font-size:1.2rem; color:#606c77;}
.agreement_comment a{ display:inline-block; margin-top:1.5rem; height:5rem; line-height:5rem; width:100%; border-radius:3px; text-align:center; color:#fff; font-size:1.6rem; background:#3fb76e;}
/*实时监控*/
.take_care{ width:100%; height:100%; position:fixed; overflow:hidden; background:url(../images/bg5.jpg) no-repeat; background-size:100% 90%;}
.cam_list{ width:90%; margin:3rem 5% 0rem;}
.cam_list li{ float:left; width:47%; margin:0rem 3% 1.5rem 0rem;}
.cam_list li p{ width:100%;}
.cam_list li p i{ font-style:normal;}
.cam_list li p span{ float:left;}
.cam_list li p .span1,.cam_list li p .span3{ width:23%; height:1px; background:#fff; margin-top:0.5rem;} 
.cam_list li p .span1{ margin-right:2%;}
.cam_list li p .span2{ width:50%; font-size:1.2rem; color:#006a53; margin-right:2%; text-align:center;}
.cam_list li img{ display:block; width:100%; height:auto; margin-top:1rem;}
.take_care_title{ width:80%; height:auto; margin:2rem 10% 0rem 10%;}
.take_care_title img{ width:100%; height:auto; display:block;}
/*分享页面*/
.sheep_guest{ font-family:"微软雅黑"}
.sheep_guest_share{ width:100%; background:url(../images/share_bg.png) center top no-repeat #3bb36f; margin-bottom:8rem;}
.haved_reed{ width:80%; height:auto; margin:0rem 10%; padding:2.5rem 0rem;}
.haved_reed img { width:100%; height:auto;}
.medal_list{ padding-top:5rem; width:94%; margin:8rem 3% 0rem; background:#d9f1e2; border-radius:0.5rem; padding-bottom:2.5rem;}
.medal_leader .p1{ width:6rem; height:7rem; background:url(../images/medal.png) no-repeat; background-size:14.4rem 15rem; margin:-8rem auto 0rem; background-position:0rem 0rem;}
.medal_leader .gold{background-position:0rem 0rem;}
.medal_leader .silver{background-position:-7.1rem 0rem;}
.medal_leader .copper{background-position:0rem -7rem;}
.medal_leader .p1 img{ width:5.6rem; height:5.4rem; border-radius:50%;}
.medal_leader .p2{ width:100%; line-height:2rem; text-align:center; font-size:1.6rem; color:#006954;}
.who_say{ width:90%; margin:1.5rem 5%; position:relative;}
.who_say .p1{ color:#006954; font-size:1.4rem; padding:1rem; line-height:2rem; background:#fff; border:1px solid #f6b23c;}
.who_say .p1 em{ color:#ee4056; font-style:italic; margin:0rem 0.5rem;}
.who_say .arrow{ width:1rem; height:0.6rem; position:absolute; bottom:0.1rem; left:49%;}
.who_say .arrow img{ width:1rem; height:0.6rem;}
.scan{ width:90%; height:auto; margin:1.5rem 5%;}
.scan img{ width:100%; height:auto;}
.scan2{ width:15rem; height:15rem; margin:0rem auto;}
.scan2 img{ display:block; width:15rem; height:15rem;}
.sheep_guest_share .from{ padding:2rem 0rem; margin-top:2rem;}
/*错误提示*/
.error_tip {color:#d72d35; line-height:30px;}
/*图片加载*/
.loading{ width:3.8rem; height:3.8rem; position:absolute; margin-top:-1.9rem; top:50%; left:50%; margin-left:-1.9rem;}
.loading img{ display:block; width:100%; height:auto;}
/*文字图标*/
@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{ font-family:"iconfont" !important; font-weight:normal; display:block;}
/*样式修改*/
.index{ overflow-x:hidden; overflow:hidden;}
.please_waiting{ line-height:2rem; width:84%; text-align:center; font-size:1.4rem; color:#606c77; margin:1rem 0rem 0rem 8%;}
.no_message0802{ line-height:5rem; width:100%; text-align:center; font-size:1.6rem; color:#999;}
.noclick_detail_r,.noclick_detail_r:hover.noclick_detail_r a:hover{ background:#ccc;}
.noclick_detail_r a{ cursor:default;}
.no_sheep{ display:block; width:60%; margin:1rem 20%; height:auto;}
/*整屏滑动效果*/
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 62.5%; }
body { *cursor: default;overflow: hidden; -webkit-overflow-scrolling: touch;}
#pageContain { overflow: hidden;}
.page { display: none; width: 100%; height: 100%; overflow: hidden; position: absolute; top: 0; left: 0;}
.contain { width: 100%; height: 100%; display: none; position: relative; z-index: 0;}
.current .contain, .slide .contain { display: block;}
.current { display: block; z-index: 1;}
.slide { display: block; z-index: 2;}
.swipe { display: block; z-index: 3; transition-duration: 0ms !important; -webkit-transition-duration: 0ms !important;}
.video_playbox{ width:100%; height:13rem;}
.cam_list li a{ width:100%; display:block; height:13rem; margin-top:1.5rem; background:url(../images/last_look.png) no-repeat;background-size: 100% 13rem;}
/*引导页*/
.pageContain{ max-width:640px; min-width:320px; margin:0px auto; font-family:"微软雅黑"}
.guide1{ width:100%; height:100%; background:url(../images/bg5.jpg) no-repeat; background-size:100% 100%;padding-top:6rem;}
.guide1 .logo{ width:10rem; height:10rem; margin:0rem auto;background:url(../images/logo.png) no-repeat; background-size:10rem 10rem;}
.guide1 .from{ margin-top:2rem;}
.safe_sheep{ font-size:3rem; color:#f39700; width:100%; text-align:center; margin-top:4rem;}
.guide2{ width:100%; height:100%; background:url(../images/bg6.jpg) no-repeat; background-size:100% 100%;}
.guide3{ width:100%; height:100%; background:url(../images/bg7.jpg) no-repeat; background-size:100% 100%;}
.guide4{ width:100%; height:100%; background:url(../images/bg9.jpg) no-repeat; background-size:100% 100%; position:relative;}
.guide5{ width:100%; height:100%; background:url(../images/bg8.jpg) no-repeat; background-size:100% 100%;}
.guide2 .p1{ width:80%; margin:2rem auto;}
.guide2 .p1 img{ width:100%; height:auto; display:block;}
.we_have{ width:80%; border:5px solid #b2d7db; margin:0rem auto;}
.we_have_content{ width:98%; margin:1%; border:1px solid #b2d7db; padding:0.5rem 0rem;}
.we_have_content .p2{ line-height:2rem; width:90%; font-size:1.2rem; color:#006954; text-align:center; margin:0rem 5%;}
.under_line{ border-bottom:1px solid #b2d7db;}
.we_have_content .p3{ font-size:1.8rem; color:#006954; font-weight:600; margin-left:10%;}
.you_can_content{ margin:1rem 0rem 0rem 15%;}
.you_can_content .p4{ line-height:3rem;font-size:1.2rem; color:#006954;}
.y_c_list_l{ float:left; width:2rem; height:18rem;}
.y_c_list_l img{ display:block; width:1.6rem; height:18rem;}
.y_c_list_r{ float:left; margin:-0.8rem 0rem 0rem 1rem;}
.y_c_list_r ul li{ line-height:3.33rem;font-size:1.2rem; color:#006954;}
.brief_say{ margin:1rem 10% 0rem; width:80%;}
.brief_say .p5{font-size:1.2rem; color:#006954; font-weight:bold; width:100%; text-align:center;}
.brief_say_content{ width:100%; border:5px solid #8abbb7;}
.brief_say_content_main{ width:98%; margin:1%; position:relative; height:11rem;}
.opacity_40{ width:100%; height:100%; background:#006954; opacity:0.4; position:absolute; top:0; left:0;}
.say_detail{ position:absolute; z-index:2; top:1rem;}
.say_detail .p6{ width:96%; color:#fff; line-height:2rem; z-index:2; margin-left:2%;}
.guide4 .p8{ width:90%; height:6rem; line-height:3rem; background:url(../images/point_04.png) no-repeat; margin:10rem 0rem 0rem 0rem; background-size:100% 50%; font-size:1.4rem; color:#fff; font-weight:bold;}
.play_video img,.scan_ewm img{ width:100%; height:auto; display:block;}
.angry_content p{ font-size:1.2rem; color:#fff; font-weight:bold; line-height:2rem; margin-left:2%;}
.scan_ewm{ margin:1rem auto; width:80%; position:relative; height:12.5rem;}
.scan_ewm ul{ position:absolute; top:0px; left:0px; z-index:2;}
.scan_ewm ul li{ width:49.5%; float:left; height:12.5rem;}
.scan_ewm ul li p{ width:100%; text-align:center; line-height:1.6rem; color:#fff;}
.scan_ewm ul li img{ width:94%; height:10rem; display:block;margin:3%;}
.opacity_30{ position:absolute; left:0px; top:0px; background:#006954; opacity:0.4; width:100%; height:12.5rem; z-index:1;}
.guide5 .p7{ width:80%; font-size:1.6rem; color:#006954; font-weight:bold; margin:0rem 0rem 0.5rem 10%;}
.angry{ width:80%; margin:1rem 10% 0rem; border:5px solid #f39800;}
@media screen and (max-width:320px){.guide1{ padding-top:2rem;}.safe_sheep{ margin-top:2rem}.guide2 .p1{ width:80%; margin:1rem auto;}.y_c_list_l{ float:left; width:2rem; height:13.4rem;}.y_c_list_l img{ display:block; width:1.6rem; height:13.4rem;}.y_c_list_r ul li{ line-height:2.42rem;font-size:1.2rem; color:#006954;}.brief_say_content_main{ width:98%; margin:1%; position:relative; height:9rem;}.say_detail{ position:absolute; z-index:2; top:0.5rem;}.first_li{ margin-top:0.4rem;}.guide4 .p8{ margin:7rem 0rem 0rem 0rem;}.play_video img,.scan_ewm img{ height:9rem;}.angry_content p{ line-height:1.8rem;}.scan_ewm{height:11rem;}.scan_ewm ul li{ width:49.5%; float:left; height:11rem;}.scan_ewm ul li img{ height:8.5rem;}.opacity_30{ height:11rem;}.scan_ewm{ margin:0.8rem auto 0rem;}.guide5 .p7{ font-size:1.4rem;}.angry{ width:80%; margin:0.8rem 10% 0.4rem;}}
.play_video{ width:80%; height:auto; margin:0rem 10%;}
.angry_content{ width:98%; margin:1%; background:#f39800; padding:0.5rem 0rem;}
.office_web{ line-height:2rem; color:#fff; text-shadow:3px 3px 3px #000; margin-left:10%;}
.guide4 .p8 span{ margin-left:10%;}
.guide4 .p_8_pure{ width:100%; background:#f39800; width:100%; text-align:center;line-height:2.4rem; padding:0.5rem 0rem; height:auto; } 
.guide4 .p_8_pure span{ margin:0rem;} 
.pos_b{ width:50%; height:auto; position:fixed; bottom:-2rem; left:25%;}
.pos_b img{ width:100%; height:auto;}
.m_t_1{ margin-top:1rem;}

.first_step{-webkit-animation:first 16s linear 1;-moz-animation:first 16s linear 1;-o-animation:first 16s linear 1;animation:first 16s linear 1; position:absolute; top:6rem; width:100%; opacity:0; z-index:1;}
.logo
.second_step{-webkit-animation:second 16s linear 1;-moz-animation:second 16s linear 1;-o-animation:second 16s linear 1;animation:second 16s linear 1; position:absolute; top:6rem; width:100%; opacity:0;-webkit-animation-delay: 16s;-moz-animation-delay: 16s;-o-animation-delay: 16s;animation-delay: 16s; z-index:2;}
.third_step{ -webkit-animation:third 50s linear 1;-moz-animation:third 50s linear 1;-o-animation:third 50s linear 1;animation:third 50s linear 1; position:absolute; top:6rem; width:100%; opacity:0;-webkit-animation-delay: 16s;-moz-animation-delay: 16s;-o-animation-delay: 16s;animation-delay: 16s; z-index:3;}
@-moz-keyframes 'first'{5%{opacity:1;}20%{opacity:0.8;}40%{opacity:0.6;}60%{opacity:0.4;}80%{opacity:0.2;}100%{opacity:0;}}
@-webkit-keyframes 'first'{5%{opacity:1;}20%{opacity:0.8;}40%{opacity:0.6;}60%{opacity:0.4;}80%{opacity:0.2;}100%{opacity:0;}}
@-o-keyframes 'first'{5%{opacity:1;}20%{opacity:0.8;}40%{opacity:0.6;}60%{opacity:0.4;}80%{opacity:0.2;}100%{opacity:0;}}
@-moz-keyframes 'second'{5%{opacity:1;}20%{opacity:0.8;}40%{opacity:0.6;}60%{opacity:0.4;}80%{opacity:0.2;}100%{opacity:0;}}
@-webkit-keyframes 'second'{5%{opacity:1;}20%{opacity:0.8;}40%{opacity:0.6;}60%{opacity:0.4;}80%{opacity:0.2;}100%{opacity:0;}}
@-o-keyframes 'second'{5%{opacity:1;}20%{opacity:0.8;}40%{opacity:0.6;}60%{opacity:0.4;}80%{opacity:0.2;}100%{opacity:0;}}
@-moz-keyframes 'third'{5%{opacity:1;}20%{opacity:0.8;}40%{opacity:0.6;}60%{opacity:0.4;}80%{opacity:0.2;}100%{opacity:1;}}
@-webkit-keyframes 'third'{5%{opacity:1;}20%{opacity:0.8;}40%{opacity:0.6;}60%{opacity:0.4;}80%{opacity:0.2;}100%{opacity:1;}}
@-o-keyframes 'third'{5%{opacity:1;}20%{opacity:0.8;}40%{opacity:0.6;}60%{opacity:0.4;}80%{opacity:0.2;}100%{opacity:1;}}

.safe_sheep{-webkit-animation:bounce 2s ease-in 1;-moz-animation:bounce 2s ease-in  1;-o-animation:bounce 2s ease-in  1;animation:bounce 2s ease-in 1;}
@-webkit-keyframes bounce {
  1% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
20% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
	opacity:0.2
  }
  30% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
	opacity:0.3
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
	opacity:0.4
  }
50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
	opacity:0.5
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
	opacity:0.6
  }
  20% {
    -webkit-transform: translateY(-0px);
    transform: translateY(-0px);
	opacity:0.7
  }
  80% {
    -webkit-transform: translateY(-0px);
    transform: translateY(-0px);
	opacity:0.8
  }
  90% {
    -webkit-transform: translateY(-0px);
    transform: translateY(-0px);
	opacity:0.9
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
	opacity:1
  }
}
@keyframes bounce {
  1%{
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  20% {
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
	opacity:0.2
  }
30%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
	opacity:0.3
  }
  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
	opacity:0.4
  }
  50%{
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
	opacity:0.5
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
	opacity:0.6
  }
  70%{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
	opacity:0.7
  }
  80% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
	opacity:0.8
  }
  90%{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
	opacity:0.9
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px;)
	opacity:1
  }
}
.from,.we_have_content .p3,.we_have_content .p2,.say_detail .p6,.guide5 .p7,.angry_content p,.scan_ewm ul li p,.office_web{-webkit-animation:from 2s ease-in 1;-moz-animation:from 2s ease-in  1;-o-animation:from 2s ease-in  1;animation:from 2s ease-in 1;}
.y_c_list_r ul .second_li{-webkit-animation:step2 4s linear 1;}
.y_c_list_r ul .third_li{-webkit-animation:step3 6s linear 1;}
.y_c_list_r ul .forth_li{-webkit-animation:step4 8s linear 1;}
.y_c_list_r ul .fifth_li{-webkit-animation:step5 10s linear 1;}
.y_c_list_r ul .last_li{-webkit-animation:step6 12s linear 1;}
@-moz-keyframes 'step'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-webkit-keyframes 'step'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-o-keyframes 'step'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-moz-keyframes 'step2'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-webkit-keyframes 'step2'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-o-keyframes 'step2'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-moz-keyframes 'step3'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-webkit-keyframes 'step3'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-o-keyframes 'step3'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-moz-keyframes 'step4'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-webkit-keyframes 'step4'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-o-keyframes 'step4'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-moz-keyframes 'step5'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-webkit-keyframes 'step5'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-o-keyframes 'step5'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-moz-keyframes 'step6'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-webkit-keyframes 'step6'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-o-keyframes 'step6'{5%{opacity:0.1;}20%{opacity:0.2;}40%{opacity:0.4;}60%{opacity:0.6;}80%{opacity:0.8;}100%{opacity:1;}}
@-webkit-keyframes from{
  1% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
20% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
	opacity:0.2
  }
  30% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
	opacity:0.3
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
	opacity:0.4
  }
50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
	opacity:0.5
  }
  60% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
	opacity:0.6
  }
  20% {
    -webkit-transform: translateY(-0px);
    transform: translateY(-0px);
	opacity:0.7
  }
  80% {
    -webkit-transform: translateY(-0px);
    transform: translateY(-0px);
	opacity:0.8
  }
  90% {
    -webkit-transform: translateY(-0px);
    transform: translateY(-0px);
	opacity:0.9
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
	opacity:1
  }
}
@keyframes from{
  1%{
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  20% {
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
	opacity:0.2
  }
30%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
	opacity:0.3
  }
  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
	opacity:0.4
  }
  50%{
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
	opacity:0.5
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
	opacity:0.6
  }
  70%{
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
	opacity:0.7
  }
  80% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
	opacity:0.8
  }
  90%{
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
	opacity:0.9
  }
  100% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px;)
	opacity:1
  }
}
.logo,.guide2 .p1 img,.scan_ewm ul li img{-webkit-animation:logo 2s ease-in 1;-moz-animation:logo 2s ease-in  1;-o-animation:logo 2s ease-in  1;animation:logo 2s ease-in 1;}
@-webkit-keyframes logo {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes logo{
  20% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.flexslider {
        margin: 0px auto;
        width: 100%;
        overflow: hidden;
        zoom: 1;
    }
    .flexslider .slides li {
        width: 100%;
        height: 100%;
    }
    .flex-direction-nav a {
        width: 50px;
        height: 62px;
        display: block;
        background: url(../images/ad_ctr.png) no-repeat;
        position: absolute;
        bottom:50%;
        z-index: 10;
        cursor: pointer;
        opacity:1;
        -webkit-transition: all .3s ease;
    }
    .flex-direction-nav .flex-next {
        background-position: 0 -62px;
        right:10px;
    }
    .flex-direction-nav .flex-prev {
        left:10px;
    }
    .flexslider:hover .flex-next {
        opacity: 0.8;
        filter: alpha(opacity=25);
    }
    .flexslider:hover .flex-prev {
        opacity: 0.8;
        filter: alpha(opacity=25);
    }
    .flexslider:hover .flex-next:hover,
    .flexslider:hover .flex-prev:hover {
        opacity: 1;
        filter: alpha(opacity=50);
    }
    .flex-control-nav {
        width: 100%;
        position: absolute;
        bottom: 10px;
        text-align: center;
    }
    .flex-control-nav li {
        margin: 0 2px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
    .flex-control-paging li a {
        background: url(../images/dot.png) no-repeat 0 -16px;
        display: block;
        height: 16px;
        overflow: hidden;
        text-indent: -99em;
        width: 16px;
        cursor: pointer;
    }
    .flex-control-paging li a.flex-active,
    .flex-control-paging li.active a {
        background-position: 0 0;
    }
	.play_video video{ width:100%; height:auto;}
	.down_arrow{ width:4rem; height:4rem; position:absolute; margin-left:-2rem; left:50%; bottom:2rem;-moz-animation:bounce-down 1.5s infinite;-o-animation:bounce-down 1.5s infinite;animation:bounce-down 1.5s infinite;-webkit-animation:bounce-down 1.5s infinite;}
	.down_arrow img{ display:block;width:4rem; height:4rem;-moz-animation:bounce-down 1.5s infinite;-o-animation:bounce-down 1.5s infinite;animation:bounce-down 1.5s infinite;-webkit-animation:bounce-down 1.5s infinite;}
	@keyframes bounce-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    /* chrome & safari*/
    -moz-transform: translateY(-20px);
    /* firefox */
    -o-transform: translateY(-20px);
    /* opera */
    transform: translateY(-20px); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
    /* chrome & safari*/
    -moz-transform: translateY(0);
    /* firefox */
    -o-transform: translateY(0);
    /* opera */
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    /* chrome & safari*/
    -moz-transform: translateY(5px);
    /* firefox */
    -o-transform: translateY(5px);
    /* opera */
    transform: translateY(5px); } }
@-moz-keyframes bounce-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    /* chrome & safari*/
    -moz-transform: translateY(-20px);
    /* firefox */
    -o-transform: translateY(-20px);
    /* opera */
    transform: translateY(-20px); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
    /* chrome & safari*/
    -moz-transform: translateY(0);
    /* firefox */
    -o-transform: translateY(0);
    /* opera */
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    /* chrome & safari*/
    -moz-transform: translateY(5px);
    /* firefox */
    -o-transform: translateY(5px);
    /* opera */
    transform: translateY(5px); } }
@-webkit-keyframes bounce-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    /* chrome & safari*/
    -moz-transform: translateY(-20px);
    /* firefox */
    -o-transform: translateY(-20px);
    /* opera */
    transform: translateY(-20px); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0);
    /* chrome & safari*/
    -moz-transform: translateY(0);
    /* firefox */
    -o-transform: translateY(0);
    /* opera */
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    /* chrome & safari*/
    -moz-transform: translateY(5px);
    /* firefox */
    -o-transform: translateY(5px);
    /* opera */
    transform: translateY(5px); } }
	/*专门针对4s写得样式*/
	 @media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){
	.guide2 .p1 img{ width:90%; margin:0rem 5%;}
			} 