@model DotNet.CloudFarm.WebSite.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "登录";
}
<div class="sheep_guest login">
    <!--logo-->
    <div class="logo"></div>
    <!--口号-->
    <p class="from"></p>
    <!--绑定微信号-->
    <div class="login_content">
        <!--输入手机号-->
        <div class="login_content1">
            <div class="opacity_box"></div>
            <div class="tele_num_box clearfix">
                <span class="span1"></span>
                <input id="Mobile" name="Mobile" type="tel" value="" placeholder="请输入手机号" required="required" />
                <span class="span2"></span>
            </div>
        </div>
        <!--输入验证码-->
        <div class="get_yzm clearfix">
            <div class="login_content1 login_content2">
                <div class="opacity_box"></div>
                <div class="tele_num_box clearfix">
                    <span class="span1"></span>
                    <input id="Captcha" name="Captcha" type="text" value="" placeholder="请输入验证码" required="required" maxlength="6" />
                    <span class="span2"></span>
                </div>
            </div>
            <div class="get_yzm_btn" id="get_yzm_btn"><a href="#">获取验证码</a></div>
        </div>
        <!--进入我的牧场-->
        <div class="go_myfarm" id="goto_myfarm"><a href="#">进入我的牧场</a></div>
        <!--绑定微信号-->
        @*<div class="go_myfarm bdwxh"><a href="#">绑定微信号</a></div>*@
    </div>
</div>

<script type="text/javascript">
    $(function() {
        //绑定事件

        //获取验证码
        $("#get_yzm_btn").on("click", function () {
            var mobile = $("#Mobile").val();
            var captcha = $("#Captcha").val();
            //校验手机号是否为空 手机号是否正确
            if (mobile == "") {
                alert("手机号不能为空。");
                return;
            }
            if (!isMobile(mobile)) {
                alert("手机号格式不正确。");
                return;
            }
            $(this).attr("IsSendCaptcha",true);
            $.ajax({
                url: "/account/GetMobileCaptcha",
                type: "post",
                data: { Mobile: $("#Mobile").val() },
                success: function (data) {
                    
                }
            });
        });


        //登录
        $("#goto_myfarm").on("click", function () {
            var mobile = $("#Mobile").val();
            var captcha = $("#Captcha").val();
            //校验手机号是否为空 手机号是否正确
            if (!isMobile(mobile)) {
                alert("手机号格式不正确。");
                return;
            }
            //判断是否获取过验证码
            if (!$("#get_yzm_btn").attr("IsSendCaptcha")) {
                alert("请先获取验证码。");
                return;
            }
            if (!IsNumer(captcha)) {
                alert("验证码格式不正确。");
                return;
            }
            //校验是否获取过验证码，以及验证码的长度
            $.ajax({
                url:"/account/login",
                type: "post",
                data: { Mobile: mobile, Captcha: captcha },
                success:function(data) {
                    if (data.IsSuccess) {
                        location.href = "/home/default";
                    } else {
                        alert("登录失败");
                    }
                }
            });
        });

    })


</script>

@section Scripts {
<script src="~/Scripts/jquery.cookie.js"></script>
     <script type="text/javascript">
         var appid= "@ViewBag.AppId";
         var openId = "@ViewBag.OpenId";
         alert(openId);
         var code_settings = {
             apiUrl: "https://open.weixin.qq.com/connect/oauth2/authorize",
             appid: appid,
             response_type:"code",
             redirect_uri: encodeURIComponent("http://yk.kerchinsheep.com/account/login"),
             scope: "snsapi_userinfo",
             anchor: "#wechat_redirect"
         };

         function GetQueryString(name) {
             var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
             var r = window.location.search.substr(1).match(reg);
             if (r!=null) return (r[2]); return null;
         };


         function WxOauthCode(set) {
             var requestUrl = "";
                 requestUrl = set.apiUrl;
                 requestUrl += "?";
                 requestUrl += "appid=" + set.appid;
                 requestUrl += "&redirect_uri=" + set.redirect_uri;
                 requestUrl += "&response_type=" + set.response_type;
                 requestUrl += "&scope=" + set.scope;
                 requestUrl += set.anchor;
                 location.href = requestUrl;
         };

         function WxOauthAuth(code)
         {
             $.ajax({
                 url: "/weixin/WexinOpenOAuthCallBack",
                 data: "code=" + code,
                 dataType: "text",
                 success: function (result) {
                     alert(result);
                     if(result!="ERROR")
                     {
                         openId = result;
                     }
                     else {
                         alert("授权错误");
                     }
                 }
             });
         }


         var code = GetQueryString("code");
         if (token==null && code == null) {
             WxOauthCode(code_settings);
         }

         $(document).ready(function () {
             if(code!=null)
             {
                 WxOauthAuth(code);
             }
         });
     </script>
        }