@model DotNet.CloudFarm.WebSite.Models.LoginViewModel

@{
    ViewBag.Title = "登录";
}

<div>
    手机号：<input type="tel" name="UserName"/>
    验证码：<input type="text" name="MobileCaptcha"/>
    <input type="button" value="登录"/>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}