
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_LayoutHouTai.cshtml";
}




        <div id="content" class="span10">
          <h3>欢迎访问羊客管理后台！</h3>
        </div><!--/#content.span10-->
   