
@{
    ViewBag.Title = "预售订单列表管理";
    Layout = "~/Views/Shared/_LayoutHouTai.cshtml";
}

<div id="PreSaleOrderlist" class="span10">
    <!-- content starts -->
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-edit"></i>查询</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#batch">批量查询</a></li>
                    <li class=""><a href="#single">精准查询</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div id="batch" class="tab-pane active">
                        <div class="form-horizontal">
                            <input type="hidden" name="Id" id="msgId" />
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">交易时间</label>
                                <div class="controls">
                                    <input class="input-small datepicker" id="StartTime" type="text" name="StartTime">
                                    -
                                    <input class="input-small datepicker" id="EndTime" type="text" name="EndTime">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="status">订单状态</label>
                                <div class="controls">
                                    <select id="status" name="Status">
                                        <option value="">--</option>
                                        <option value="0">待支付</option>
                                        <option value="1">已支付</option>
                                        <option value="2">已发货</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="button" class="btn btn-primary" @*data-bind="click:BatchSearchOrder"*@>查询</button>
                                    <button id="export" type="button" class="btn btn-primary">导出</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="single" class="tab-pane">
                        <div class="form-horizontal">
                            <input type="hidden" name="Id" id="msgId" />
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">订单号</label>
                                <div class="controls">
                                    <input class="input-large focused" id="orderid" type="text" maxlength="30" name="OrderId">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="focusedInput">用户手机号</label>
                                <div class="controls">
                                    <input class="input-large focused" id="mobile" type="text" maxlength="30" name="Mobile">
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="button" class="btn btn-primary" @*data-bind="click:SingleSearchOrder"*@>查询</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title>
                <h2><i class="icon-align-justify"></i>预售订单列表</h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>订单号</th>
                            <th>用户手机号</th>
                            <th>产品名称</th>
                            <th>购买数量</th>
                            <th>总价</th>
                            <th>收货地址</th>
                            <th>运单单号</th>
                            <th>订单状态</th>
                            <th>下单时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: PreSaleOrderList">

                        <tr>
                            <td><!--ko text:OrderId--><!--/ko--></td>
                            <td class="center"><!--ko text:Phone--><!--/ko--></td>
                            <td class="center"><!--ko text:ProductName--><!--/ko--></td>
                            <td class="center"><!--ko text:Count--><!--/ko--></td>
                            <td class="center"><!--ko text:TotalMoney--><!--/ko--></td>
                            <td class="center"><!--ko text:Address--><!--/ko--></td>
                            <td class="center"><!--ko text:ExpressDelivery--><!--/ko--></td>
                            <td class="center">
                                <!--ko text:StatusDesc--><!--/ko-->
                            </td>
                            
                            <td class="center" data-bind="text:CreateTime"></td>

                            <td class="center">
                                <!-- ko if: Status()==1 -->
                                <input value="运单号" data-bind="value:ExpressDelivery"/>
                                <a href="javascript:void(0);" class="btn btn-info" data-bind="click:function(order){$parent.AddExpress(order)}"><i class="icon-edit icon-white"></i>填写运单号</a>
                                <!-- /ko -->
                                <!-- ko if: (DeleteTag()==0 && Status()==0) -->
                                <a href="javascript:void(0);" class="btn btn-info" data-bind="click:function(order){$parent.LogicDelete(order)}"><i class="icon-edit icon-white"></i>逻辑删除</a>
                                <!-- /ko -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="pages">
                    <div class="pagination pagination-centered">
                        <button type="button" class="btn btn-primary" data-bind="click:Prev">
                            上一页
                        </button>
                        <ul data-bind="foreach:PageNumbers">
                            <li class="active">
                                <a href="#" data-bind="text:$data,click:$root.Goto"></a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-bind="click:Next">
                            下一页
                        </button>
                    </div>
                </div>
            </div>
        </div><!--/span-->

    </div>

    <div class="modal hide fade" id="myAlertDialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>提示</h3>
        </div>
        <div class="modal-body">
            <p id="confirmText">确定要删除该项吗？</p>
        </div>
        <div class="modal-footer">
            <a href="javascript:void(0)" id="confirmBtn" class="btn btn-primary">确定</a>
            <a href="#" class="btn" id="cancelBtn" data-dismiss="modal">取消</a>
        </div>
    </div>

    <!-- content ends -->
</div>

@section scripts{
    <script type="text/javascript">

        function PreSaleOrderViewModel() {
            var self = this;

            self.DeleteTag = ko.observable();

            self.ProductName = ko.observable();
            self.Count = ko.observable();
            self.TotalMoney = ko.observable();

            self.OrderId = ko.observable();
            self.UserId = ko.observable();
            
            self.CreateTime = ko.observable();
            self.ProductCount = ko.observable();
            self.Price = ko.observable();
            self.Status = ko.observable();
            self.StatusDesc = ko.observable();

            self.Receiver = ko.observable();
            self.Phone = ko.observable();
            self.Address = ko.observable();

            self.ExpressDelivery = ko.observable();
        }

        function PreSaleOrderListViewModel() {
            var self = this;
            //预售订单列表
            self.PreSaleOrderList = ko.observableArray([]);
            //当前订单页码
            self.PageIndex = ko.observable();
            //一共有多少页
            self.PageCount = ko.observable();
            //订单总数
            self.TotalCount = ko.observable();
            //页码数
            this.PageNumbers = ko.observableArray([]);
            //每页多少
            self.PageSize = ko.observable();

            //增加运单号
            self.AddExpress = function (order) {
                console.log(order);
                //ModifyPreOrder
                var data = ko.mapping.toJS(order);
                console.log(data);
                $.ajax({
                    url: "/HouTai/ModifyPreOrder",
                    type: "post",
                    data: { OrderId: data.OrderId, Express: data.ExpressDelivery },
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                        order.Status(result.Data.Status);
                    },
                    error: function (error) {
                        console.log(error);
                        alert("错误信息" + error);
                    }
                });

            }

            //逻辑删除
            self.LogicDelete = function (order) {
                var data = ko.mapping.toJS(order);
                console.log(data);
                $.ajax({
                    url: "/HouTai/ModifyPreOrder",
                    type: "post",
                    data: { OrderId: data.OrderId,DeleteTag:1 },
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                        order.Status(result.Data.Status);
                        order.DeleteTag(1);
                    },
                    error: function (error) {
                        console.log(error);
                        alert("错误信息" + error);
                    }
                });
            }

            self.Prev=function() {
                self.PageIndex(self.PageIndex() - 1);
                self.Refresh();
            }

            self.Next=function() {
                self.PageIndex(self.PageIndex() + 1);
                self.Refresh();
            }

            self.Goto=function(data) {
                self.PageIndex(data);
                self.Refresh();
            }

            //刷新
            self.Refresh = function () {
                //页码
                if (self.PageIndex() < 1) {
                    self.PageIndex(1);
                }
                if (self.PageIndex() > self.PageCount()) {
                    self.PageIndex(self.PageCount());
                }

                $.ajax({
                    url: "/HouTai/GetPreSaleOrderlist",
                    type: "post",
                    data: { pageIndex: self.PageIndex(),pageSize:self.PageSize() },
                    dataType: 'json',
                    success: function (result) {
                        //console.log(result);
                        var count = result.items.length;
                        self.PreSaleOrderList.removeAll();
                        for (var i = 0; i < count; i++) {
                            var order = result.items[i];
                            var preSaleOrderViewModel = new PreSaleOrderViewModel();

                            preSaleOrderViewModel.ProductName(order.PreSaleProduct.Name);
                            preSaleOrderViewModel.Count(order.Count);
                            preSaleOrderViewModel.TotalMoney(order.TotalMoney);
                            preSaleOrderViewModel.DeleteTag(order.DeleteTag);
                            preSaleOrderViewModel.OrderId(order.OrderId);

                            preSaleOrderViewModel.CreateTime(order.CreateTime);
                            preSaleOrderViewModel.ProductCount(order.ProductCount);
                            preSaleOrderViewModel.Price(order.Price);
                            preSaleOrderViewModel.Status(order.Status);
                            preSaleOrderViewModel.StatusDesc(order.StatusDesc);

                            preSaleOrderViewModel.Receiver(order.Receiver);
                            preSaleOrderViewModel.Phone(order.Phone);
                            preSaleOrderViewModel.Address(order.Area.FullName + order.Address);
                            preSaleOrderViewModel.ExpressDelivery(order.ExpressDelivery);

                            self.PreSaleOrderList.push(preSaleOrderViewModel);
                        }

                        self.PageIndex(result.PageIndex);
                        self.PageSize(result.PageSize);
                        self.PageCount(result.PageCount);
                        self.TotalCount(result.TotalCount);

                        //构建页码数
                        self.PageNumbers.removeAll();
                        for (var i = 1; i <= result.PageCount; i++) {
                            self.PageNumbers.push(i);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        alert("错误信息" + error);
                    }
                });
            }
            self.Refresh();
        }

        //导出excel
        function ExportReportList() {
            var $Iframe = $("#downloadcsv");
            var url = "/HouTai/GetExportOrderList";
            if ($Iframe.length == 0) {
                $('body').append("<iframe id=\"downloadcsv\" style=\"display:none\" src=\"" + url + "\"></iframe>");
            } else {
                $Iframe.attr('src', url);
            }
        }

        $(function () {
            //导出数据
            $("#export").on("click", function () {
                ExportReportList();
            });

            var preSaleOrderListViewModel = new PreSaleOrderListViewModel();
            
            ko.applyBindings(preSaleOrderListViewModel);
        });


    </script>
}