@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sheep_guest index">
    <!--天气状况-->
    <div class="realtime_pasture clearfix">
        <div class="pic_bg"><img src="/images/bg2.jpg"></div>
        <!--天气状况左边-->
        <div class="realtime_pasture_l">
            <span class="span1">我的羊只</span>
            <span class="span2"><!--ko text:SheepCount--><!--/ko--></span>
        </div>
        <!--天气状况右边-->
        <div class="realtime_pasture_r">
            <div class="realtime_pasture_rbox">
                <div class="pasture_weather">
                    <p class="p1">内蒙古鄂尔多斯牧场</p>
                    <div class="Temperature clearfix">
                        <div class="Temperature_l"><span class="span2"><em>20</em>℃</span><span class="span2">天气倍儿晴朗</span></div>
                        <div class="Temperature_r"><span></span></div>
                    </div>
                    <p class="p2">舍内温度<span>25</span>℃ </p>
                    <p class="p2">舍外温度<span>25</span>℃ </p>
                    <p class="realtime_pasture_btn"><span></span><a href="#">实时牧场</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--天气状况结束-->
    <!--羊只认领-->
    <div class="Claim_sheep" data-bind="foreach:Products">
        
        <div class="Claim_sheep1">
            <div class="Claim_sheep1_box">
                <div class="hot_sale"></div>
                <p class="p1"><!--ko text:Name--><!--/ko-->·认领</p>
                <p class="p2">出身内蒙古，混在华尔街；羊只认购火热进行中</p>
                <div class="Claim_sheep1_box_content">
                    <ul class="clearfix">
                        <li class="li1"><img src="/images/no_pic.jpg"></li>
                        <li><span class="span1">￥<em><!--ko text:SheepPrice--><!--/ko--></em>/只</span><span class="span2">价格</span></li>
                        <li><span class="span1">￥<em><!--ko text:Earning--><!--/ko--></em>元</span><span class="span2">预计收益</span></li>
                        <li><span class="span1"><em><!--ko text:Stock--><!--/ko--></em>只</span><span class="span2">本期投放</span></li>
                        <li class="last_li"><span class="span1"><em><!--ko text:SaledCount--><!--/ko--></em>只</span><span class="span2">已认购</span></li>
                    </ul>

                </div>
                <div class="detail clearfix">
                    <div class="detail_l">
                        <a href="#" data-bind="click:$parent.ViewProduct">详情</a>
                    </div>
                    <div class="detail_r">
                        <a  data-bind="attr:{href:'@Url.Action("order","home")'+'?id='+Id}">立刻认领羊只</a>
                    </div>
                </div>
                <div class="detail_content">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <th width="40%">项目名称</th>
                            <th class="th2" width="60%">顺手牵羊第【<em>1</em>】期</th>
                        </tr>
                        <tr>
                            <td>预期收益</td>
                            <td class="td2">三个半月【<em>5%</em>】；年化【<em><!--ko text:YearEarningRate--><!--/ko-->%</em>】</td>
                        </tr>
                        <tr>
                            <td>项目持续期</td>
                            <td class="td2">自项目募集成功之日起【<em><!--ko text:EarningDay--><!--/ko--></em>】个自然日</td>
                        </tr>
                        <tr>
                            <td>项目总份额</td>
                            <td class="td2">【<em><!--ko text:Stock--><!--/ko--></em>】份</td>
                        </tr>
                        <tr>
                            <td>每份项目份额认购价格</td>
                            <td class="td2">人民币【<em><!--ko text:SheepPrice--><!--/ko--></em>】元；小羊费用：【<em>100</em>】元，饲料费：【<em><!--ko text:FeedPrice--><!--/ko--></em>】元；人工费：【<em><!--ko text:WorkPrice--><!--/ko--></em>】元</td>
                        </tr>
                        <tr>
                            <td>申购期限</td>
                            <td class="td2">自<em>2015</em>年【<em>6</em>】月【<em>8</em>】日至【<em>6</em>】月【<em>9</em>】日</td>
                        </tr>
                        <tr>
                            <td>申购期限</td>
                            <td class="td2">自<em>2015</em>年【<em>6</em>】月【<em>8</em>】日至【<em>6</em>】月【<em>9</em>】日</td>
                        </tr>
                        <tr>
                            <td>项目收益预期支付日</td>
                            <td class="td2"><em>2015</em>年【<em>6</em>】月【<em>8</em>】日</td>
                        </tr>
                        <tr>
                            <td>收益支付方式</td>
                            <td class="td2">1、现金，每份份额预计收益为【<em>1000</em>】元；<br />2、与现金等额的羊肉，每份份额预计可得羊肉为【<em>50</em>】kg。</td>
                        </tr>
                        <tr>
                            <td>该期项目羊羔数量</td>
                            <td class="td2">【<em>1000</em>】只待育肥羊</td>
                        </tr>

                        <tr>
                            <td>羊羔品种</td>
                            <td class="td2"><!--ko text:SheepType--><!--/ko--></td>
                        </tr>

                        <tr>
                            <td>预期育肥时间</td>
                            <td class="td2">3个半月</td>
                        </tr>

                        <tr>
                            <td>育肥厂</td>
                            <td class="td2"><!--ko text:SheepFactory--><!--/ko--></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--羊只认领结束-->

</div>
<div class="bottom_float">
    <ul class="clearfix">
        <li class="li1 active"><a href="#"><span></span><p>购买</p></a></li>
        <li class="li2"><a href="#"><span></span><p>钱包</p></a></li>
        <li class="li3"><a href="#"><span></span><p>我的</p></a></li>
    </ul>
</div>

<script type="text/javascript">
    function HomeViewModel() {
        var self = this;

        //我的养只数量
        self.SheepCount = ko.observable(0);

        //首页展示商品集合
        self.Products = ko.observableArray([]);

        self.ViewProduct=function(product) {
            console.log(product);
        }
    }

    function ProductViewModel() {
        var self = this;

        self.Id = ko.observable();

        //产品名称
        self.Name = ko.observable();

        //产品数量
        self.Stock = ko.observable();

        //当前期销量数量
        self.SaledCount = ko.observable();

        //单价
        self.Price = ko.observable();

        //羊金额
        self.SheepPrice = ko.observable();

        //饲料金额
        self.FeedPrice = ko.observable();

        //人工成本
        self.WorkPrice = ko.observable();

        //预期年化收益率
        self.YearEarningRate = ko.observable();

        //预期收益
        self.EarningRate = ko.observable();

        //活动持续时间 天
        self.EarningDay = ko.observable();

        //羊类型
        self.SheepType = ko.observable();

        //育肥场
        self.SheepFactory = ko.observable();
    }

    var homeViewModel = new HomeViewModel();

    //初始化首页的数据
    function initHomeData() {
        $.ajax({
            url: "/home/data",
            type: "post",
            data: { Mobile: $("#Mobile").val() },
            success: function (data) {
                if (data) {
                    homeViewModel.SheepCount(data.SheepCount);
                    homeViewModel.Products(data.Products);
                    ko.applyBindings(homeViewModel);
                }
            }
        });
    }

    function getProductById(productId) {
        $.ajax({
            url: "/home/GetProductById",
            type: "post",
            data: { productId: productId },
            success: function (data) {
                if (data) {

                    //ko.applyBindings(homeViewModel);
                }
            }
        });
    }

    $(function () {

        initHomeData();
        
    });
</script>