@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sheep_guest index">
    <!--天气状况-->
    <div class="realtime_pasture clearfix">
        <div class="pic_bg"><img src="/images/bg2.jpg"></div>
        <!--天气状况左边-->
        <div class="realtime_pasture_l">
            <span class="span1">我的羊只</span>
            <span class="span2">158</span>
        </div>
        <!--天气状况右边-->
        <div class="realtime_pasture_r">
            <div class="realtime_pasture_rbox">
                <div class="pasture_weather">
                    <p class="p1">内蒙古鄂尔多斯牧场</p>
                    <div class="Temperature clearfix">
                        <div class="Temperature_l"><span class="span2"><em>20</em>℃</span><span class="span2">天气倍儿晴朗</span></div>
                        <div class="Temperature_r"><span></span></div>
                    </div>
                    <p class="p2">舍内温度<span>25</span>℃ </p>
                    <p class="p2">舍外温度<span>25</span>℃ </p>
                    <p class="realtime_pasture_btn"><span></span><a href="#">实时牧场</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--天气状况结束-->
    <!--羊只认领-->
    <div class="Claim_sheep">
        <div class="Claim_sheep1">
            <div class="Claim_sheep1_box">
                <div class="hot_sale"></div>
                <p class="p1">羊客第5期·认领</p>
                <p class="p2">出身内蒙古，混在华尔街；羊只认购火热进行中</p>
                <div class="Claim_sheep1_box_content">
                    <ul class="clearfix">
                        <li class="li1"><img src="/images/no_pic.jpg"></li>
                        <li><span class="span1">￥<em>5000</em>/只</span><span class="span2">价格</span></li>
                        <li><span class="span1">￥<em>5000</em>元</span><span class="span2">预计收益</span></li>
                        <li><span class="span1"><em>2000</em>只</span><span class="span2">本期投放</span></li>
                        <li class="last_li"><span class="span1"><em>999</em>只</span><span class="span2">已认购</span></li>
                    </ul>

                </div>
                <div class="detail clearfix">
                    <div class="detail_l">
                        <a href="#">详情</a>
                    </div>
                    <div class="detail_r">
                        <a href="#">立刻认领羊只</a>
                    </div>
                </div>
            </div>
        </div>
        <!--即将开始-->
        <div class="Claim_sheep1">
            <div class="Claim_sheep1_box">
                <div class="hot_sale coming_soon"></div>
                <p class="p1">羊客第5期·认领</p>
                <p class="p2">出身内蒙古，混在华尔街；羊只认购火热进行中</p>
                <div class="Claim_sheep1_box_content">
                    <ul class="clearfix">
                        <li class="li1"><img src="/images/no_pic.jpg"></li>
                        <li><span class="span1">￥<em>5000</em>/只</span><span class="span2">价格</span></li>
                        <li><span class="span1">￥<em>5000</em>元</span><span class="span2">预计收益</span></li>
                        <li><span class="span1"><em>2000</em>只</span><span class="span2">本期投放</span></li>
                        <li class="last_li"><span class="span1"><em>999</em>只</span><span class="span2">已认购</span></li>
                    </ul>

                </div>
                <div class="detail clearfix">
                    <div class="detail_l">
                        <a href="#">详情</a>
                    </div>
                    <div class="detail_r">
                        <a href="#">立刻认领羊只</a>
                    </div>
                </div>
            </div>
        </div>
        <!--即将开始结束-->
    </div>
    <!--羊只认领结束-->

</div>
<div class="bottom_float">
    <ul class="clearfix">
        <li class="li1 active"><a href="#"><span></span><p>购买</p></a></li>
        <li class="li2"><a href="#"><span></span><p>钱包</p></a></li>
        <li class="li3"><a href="#"><span></span><p>我的</p></a></li>
    </ul>
</div>

<script type="text/javascript">
    function HomeViewModel() {
        var self = this;

        //我的养只数量
        self.SheepCount = ko.observable(0);

        //首页展示商品集合
        self.Products = ko.observableArray([]);
    }

    //初始化首页的数据
    function initHomeData() {
        $.ajax({
            url: "/home/GetMobileCaptcha",
            type: "post",
            data: { Mobile: $("#Mobile").val() },
            success: function (data) {

            }
        });
    }

    $(function () {

        initHomeData();
        
    });
</script>