@using DotNet.Common.Utility
@model DotNet.Common.Collections.PagedList<DotNet.CloudFarm.Domain.Model.Message.MessageModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sheep_guest message">
    <ul class="message_ul">
        <li class="clearfix">
            <p class="li_l"><span class="no_read"><img src="/images/no_read.png"></span></p>
            <p class="li_r"><span class="span1">未读消息</span><span class="span2">您的订单已经生成，请点击订单号进行支付。订单号为：20132298485</span></p>
        </li>
    </ul>
</div>
<script type="text/javascript">
    var messageListServiceJson=@Html.Raw(JsonHelper.ToJson(Model));
    function MessageListViewModel() {
        var self = this;

        self.Messages = ko.observableArray();

        

    }

    $(function() {

    });
</script>