
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sheep_guest purchase_claim pay_way">
    <section class="purchase_claim_section1">
        <div class="purchase_claim_section1box">
            <h3><span>羊客认领第05期</span></h3>
            <div class="periods clearfix">
                <div class="periods_l"><img src="/images/no_pic.jpg"></div>
                <div class="periods_r">
                    <p>品种：<span>内蒙古巴美羊</span></p>
                    <p>单价：<span><em>1000</em>/只</span></p>
                    <p>活动期限：<span><em>2015-05-28</em>至<em>06-01</em></span></p>
                </div>
            </div>
            <p class="order_num2">订购数量：<span>1000只</span></p>
            <p class="order_total">合计：<span>1000000元</span></p>
        </div>
    </section>
    <section class="to_pay">
        <div class="to_pay_box">
            <h3>请选择支付方式</h3>
            <div class="choice_pay_way clearfix">
                <div class="choice_pay_zfb"><img src="/images/weixin.png"></div><!--当点击选中时 <img src="/images/weixin_active.png">-->
                <div class="choice_pay_zz"><img src="/images/zhuanzhang.png"></div><!--当点击选中时 <img src="/images/zhuanzhang_active.png">-->
            </div>
        </div>
    </section>
    <div class="sure_book"><a href="#">去支付</a></div>
</div>

