@using DotNet.CloudFarm.Domain.ViewModel
@using DotNet.Common.Utility
@model DotNet.CloudFarm.Domain.ViewModel.PayTipViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "支付提示";
}

<div class="sheep_guest">
    <div class="pay_sucess_box">
        <div class="sucess_logo"><i class="iconfont"></i>
        </div>
        <p class="p1"><!--ko text:Message--><!--/ko--></p>
        <div class="sucess_content">
            <p class="p2">订单号：<em><!--ko text:OrderId--><!--/ko--></em>
            </p>
            <p class="p3">金额：<em><!--ko text:PayMoney--><!--/ko-->元</em>
            </p>
        </div>
    </div>
    <div class="search_order clearfix"><a href="#" class="a1" data-bind="attr:{href:'@Url.Action("OrderList", "Home", new {tab = 3})/#Order_'+OrderId()}">查看订单</a><a href="#" class="a2">分享给好友</a>
    </div>
</div>
<div class="share_to_opacity"></div>
<div class="share_to_box"><img src="/images/share.png"></div>
<script type="text/javascript">
    var payTipServiceJson=@Html.Raw(JsonHelper.ToJson(Model??new PayTipViewModel()));

    function PayTipViewModel() {
        var self = this;

        self.OrderId = ko.observable();

        self.PayMoney = ko.observable();

        self.IsPaySuccess = ko.observable();

        self.Message=ko.observable();
    }

    $(function() {
        var payTipViewModel = new PayTipViewModel();
        if (payTipServiceJson.OrderId) {
            payTipViewModel.OrderId(payTipServiceJson.OrderId);
            payTipViewModel.PayMoney(payTipServiceJson.PayMoney);
            payTipViewModel.IsPaySuccess(payTipServiceJson.IsPaySuccess);
            //payTipViewModel.Message(payTipServiceJson.Message);
            payTipViewModel.Message("支付成功");
            
        } else {
            
        }

        ko.applyBindings(payTipViewModel);
    });
</script>
