
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sheep_guest">
    <div class="pay_sucess_box">
        <div class="sucess_logo"><i class="iconfont"></i></div>
        <p class="p1">恭喜您支付成功！</p>
        <div class="sucess_content">
            <p class="p2">订单号：<em>100292948189</em></p>
            <p class="p3">金额：<em>10000元</em></p>
        </div>
    </div>
    <div class="search_order clearfix"><a href="#" class="a1">查看订单</a><a href="#" class="a2">分享给好友</a></div>
</div>

