@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    赠予人手机号<input type="tel" value=""  /><br />
    <input type="button" value="赠送" />
    </div>
</body>
</html>
