@{
    ViewBag.Title = "实时牧场";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sheep_guest take_care">
    <p class="take_care_title"><img src="../images/title.png"></p>
    <ul class="cam_list clearfix">
        <li>
            <p class="clearfix"><span class="span1"></span><span class="span2"><i>1</i>号摄像头</span><span class="span3"></span></p>
            <a><div class="video_playbox" id="player1"></div></a>
        </li>
        <li>
            <p class="clearfix"><span class="span1"></span><span class="span2"><i>3</i>号摄像头</span><span class="span3"></span></p>
            <a><div class="video_playbox"  id="player2"></div></a>
        </li>
        <li>
            <p class="clearfix"><span class="span1"></span><span class="span2"><i>4</i>号摄像头</span><span class="span3"></span></p>
            <a><div class="video_playbox" id="player3"></div></a>
        </li>
        <li>
            <p class="clearfix"><span class="span1"></span><span class="span2"><i>6</i>号摄像头</span><span class="span3"></span></p>
            <a><div class="video_playbox" id="player4"></div></a>
        </li>
    </ul>
</div>



@section scripts{
    <script src="http://kankan.baidu.com/Public/js/baidu_cam.js"></script>
    <script  type="text/javascript">
        var vwidth = "100%";
        var vheght = "100%";
       

        $(document).ready(function () {
            var option1 = { width: "140", height: "160", div_id: "player1", device_id: "137893139627" };
            var player_obj1 = new baidu_cam(option1);
            player_obj1.play();
            var option2 = { width: "100%", height: "160", div_id: "player2", device_id: "137893139755" };
            var player_obj2 = new baidu_cam(option2);
            player_obj2.play();
            var option3 = { height: "160", div_id: "player3", device_id: "137895824971" };
            var player_obj3 = new baidu_cam(option3);
            player_obj3.play();
            var option4 = { height: "160", div_id: "player4", device_id: "137895824923" };
            var player_obj4 = new baidu_cam(option4);
            player_obj4.play();
        
        });

      
    </script>
    }