@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "我的钱包";
}
@using DotNet.CloudFarm.Domain.ViewModel
@using DotNet.Common.Utility
@model DotNet.CloudFarm.Domain.ViewModel.WalletViewModel
<div class="sheep_guest wallet" id="wallet">
    <div class="my_top wallet_top">
        <div class="my_top_pic"><img src="/images/bg4.jpg"></div>
        <div class="wallet_top_content clearfix">
            <div class="wallet_top_content_l">
                <p class="p1">当前收益（元）</p>
                <p class="p2"><!--ko text:CurrentIncome--><!--/ko--></p>
            </div>
            <div class="wallet_top_content_r">
                <p class="p1"><span class="span1">预期收益（元）</span><span class="span2"><!--ko text:ExpectIncome--><!--/ko--></span></p>
                <p class="p1"><span class="span1">预计年收益率</span><span class="span2"><!--ko text:YearEarningRate--><!--/ko-->%</span></p>
            </div>
        </div>
    </div>
    <!--育肥状态-->
    <div class="fattening_state">
        <div class="fattening_statebox">
            <h3>育肥状态</h3>
            <ul class="sheep_grow clearfix">
                <li class="li1"><img src="/images/sheep_step_03.png"></li>
                <li class="li2"><img src="/images/sheep_step_07.png"></li>
                <li class="li3"><img src="/images/sheep_step_10.png"></li>
                <li class="li4"><img src="/images/sheep_step_13.png"></li>
                <li class="li5"><img src="/images/sheep_step_17.png"></li>
            </ul>
            <div class="progress_bar"><span style="background-color: red" data-bind="style:{width:(GrowDay()).toString()+'%'}"></span></div>
        </div>
    </div>
    <!--育肥状态-->
    <!--投资报表-->
    <div class="tzbb">
        <div class="tzbb_box">
            <h3>投资报表</h3>
            <ul class="clearfix">
                <li><span class="span1">累计收益（元）</span><span class="span2"><!--ko text:TotalIncome--><!--/ko--></span></li>
                <li><span class="span1">累计养殖数量</span><span class="span2"><!--ko text:TotalProductCount--><!--/ko--></span></li>
                <li style="border-right:none;"><span class="span1">累计投入（元）</span><span class="span2"><!--ko text:TotalInvestment--><!--/ko--></span></li>
            </ul>
        </div>
    </div>
    <!--投资报表-->

    <!--ko if:HaveCanRedeemOrder-->
    <div class="Settlement">
        <a href="/Home/OrderList?tab=3">去结算</a>
    </div>
    <!--/ko-->
    <!--ko ifnot:HaveCanRedeemOrder-->
    <div class="Settlement noclick_detail_r">
        <a>去结算</a>
    </div>
    <!--/ko-->
    
</div>
<script type="text/javascript">
    var walletServiceJson = @Html.Raw((Model??null).ToJson());
    function WalletViewModel() {
        var self = this;

        //当前收益
        self.CurrentIncome = ko.observable();

        //预期收益
        self.ExpectIncome = ko.observable();

        //预期年化收益率
        self.YearEarningRate = ko.observable();

        //累计收益
        self.TotalIncome = ko.observable();

        //累计养殖数量
        self.TotalProductCount = ko.observable();

        //累计投入
        self.TotalInvestment = ko.observable();

        //生长时间
        self.GrowDay = ko.observable();

        //是否有可以结算的订单
        self.HaveCanRedeemOrder = ko.observable();
    }

    $(function() {
        $("#loading").show();
        var walletViewModel = new WalletViewModel();

        if (walletServiceJson) {
            //当前收益
            walletViewModel.CurrentIncome(walletServiceJson.CurrentIncome);

            //预期收益
            walletViewModel.ExpectIncome(walletServiceJson.ExpectIncome);

            //预期年化收益率
            walletViewModel.YearEarningRate(walletServiceJson.YearEarningRate);

            //累计收益
            walletViewModel.TotalIncome(walletServiceJson.TotalIncome);

            //累计养殖数量
            walletViewModel.TotalProductCount(walletServiceJson.TotalProductCount);

            //累计投入
            walletViewModel.TotalInvestment(walletServiceJson.TotalInvestment);

            //生长时间
            walletViewModel.GrowDay(walletServiceJson.GrowDay);

            //是否有可以结算的订单
            walletViewModel.HaveCanRedeemOrder(walletServiceJson.HaveCanRedeemOrder);
        }

        ko.applyBindings(walletViewModel);
        $("#loading").hide();
        $("#wallet").show();
    });
</script>