@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sheep_guest wallet">
    <div class="my_top wallet_top">
        <div class="my_top_pic"><img src="/images/bg4.jpg"></div>
        <div class="wallet_top_content clearfix">
            <div class="wallet_top_content_l">
                <p class="p1">当前收益（元）</p>
                <p class="p2">12345</p>
            </div>
            <div class="wallet_top_content_r">
                <p class="p1"><span class="span1">预期收益（元）</span><span class="span2">123</span></p>
                <p class="p1"><span class="span1">预计年收益率</span><span class="span2">123</span></p>
            </div>
        </div>
    </div>
    <!--育肥状态-->
    <div class="fattening_state">
        <div class="fattening_statebox">
            <h3>育肥状态</h3>
            <ul class="sheep_grow clearfix">
                <li class="li1"><img src="/images/sheep_step_03.png"></li>
                <li class="li2"><img src="/images/sheep_step_07.png"></li>
                <li class="li3"><img src="/images/sheep_step_10.png"></li>
                <li class="li4"><img src="/images/sheep_step_13.png"></li>
                <li class="li5"><img src="/images/sheep_step_17.png"></li>
            </ul>
            <div class="progress_bar"><span></span></div>
        </div>
    </div>
    <!--育肥状态-->
    <!--投资报表-->
    <div class="tzbb">
        <div class="tzbb_box">
            <h3>投资报表</h3>
            <ul class="clearfix">
                <li><span class="span1">累计收益（元）</span><span class="span2">123456</span></li>
                <li><span class="span1">累计养殖数量</span><span class="span2">1236</span></li>
                <li style="border-right:none;"><span class="span1">累计投入（元）</span><span class="span2">112456</span></li>
            </ul>
        </div>
    </div>
    <!--投资报表-->
    <div class="Settlement"><a href="#">结算</a></div>
</div>
