<!doctype html>
<html>
<head>
<meta charset="gb2312">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta name="format-detection"content="telephone=no">
<title>订单详情页</title>
<meta name="Keywords" content="关键字" />
<meta name="description" content="关于本专题页面的描述文字" />
<link rel="stylesheet" href="css/css.css" type="text/css" media=""/>
<style type="text/css" media="screen" id="test">

</style>
</head>
<body>

<div class="layout layout_orderDetail">
	<!--订单信息S-->
	<section class="orderInfo">
		<div class="orderProduct">
			<img src="http://puui.qpic.cn/tv/0/1911135_220160/0" alt="">
			<span>西口羔羊精制肉卷（0.5kg*4）</span>
		</div>
		<div class="orInderMore">
			<p class="price">
				<span class="orange">￥<strong>328</strong></span>
				<span>市场参考价：￥268</span>
			</p>
			<dl>
				<dt>礼盒内容：</dt>
				<dd>羔羊肉馅0.5kg*2  |  羔羊法式前腱1.1kg*1  |  羔羊蝴蝶排0.5kg*2  |  羔羊法式前腱1.1kg*1</dd>
			</dl>
			<dl>
				<dt>产&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地：</dt>
				<dd>中国·石玉</dd>
			</dl>
			<dl>
				<dt>保质期：</dt>
				<dd>12个月</dd>
			</dl>
			<dl>
				<dt>储藏条件：</dt>
				<dd>-18℃以下  冷冻保存</dd>
			</dl>
			<dl>
				<dt>配送范围：</dt>
				<dd>科尔沁羊业合作物流和顺丰的配送区域，如顺丰无法覆盖，请慎拍。</dd>
			</dl>
		</div>
	</section>
	<!--订单信息E-->
	<!--订购数量S-->
	<section class="orderNum">
		<span class="txt">预购数量</span>
		<span class="buy_amount">
			<a data-action="minus" href="javascript:void(0)" class="minus">-</a>
	        <input type="text" data-action="numInput" value="50" class="text-amount">
	        <a data-action="plus" href="javascript:void(0)" class="plus">+</a>
        </span>
	</section>
	<!--订购数量E-->
	<!--收货人信息S-->
	<section class="buyerInfo">
		<p>
			<span class="txt">收货人姓名</span>
			<input type="text" value="请点击输入" >
		</p>
		<p>
			<span class="txt">收货人联系方式</span>
			<input type="text" value="请点击输入">
		</p>
		<p>
			<span class="txt">收货人姓名</span>
			<input type="text" value="请点击输入" >
		</p>
		<p>
			<span class="txt">收货地址</span>
			<select>
			  <option selected="selected" value ="北京">北京</option>
			  <option value ="上海">上海</option>
			  <option value="重庆">重庆</option>
			</select>
			<select>
			  <option selected="selected" value ="北京">北京</option>
			  <option value ="上海">上海</option>
			  <option value="重庆">重庆</option>
			</select>
			<select>
			  <option selected="selected" value ="北京">北京</option>
			  <option value ="上海">上海</option>
			  <option value="重庆">重庆</option>
			</select>
		</p>
		<p>
			<span class="txt">详细地址</span>
			<input type="text" value="请点击输入" >
		</p>
	</section>
	<!--收货人信息E-->
	<!--提交S-->
	<section class="buyBtn"><input type="button" value="去支付"></section>
	<!--提交E-->
	<!--购买须知S-->
	<section class="buyNote">
		<h2><img src="images/knowTit1.png" alt=""></h2>
		<ul class="knowInfo">
			<li>如需开发票，请联系羊客微信客服。</li>
			<li>本商品在生产过程中若有少许误差（不超过5%），属于合理范围，具体规格以实际产品为准。</li>
		</ul>
		<div class="knowMore">
			<h3>购买科尔沁羊业产品你必须知道的三件事</h3>
			<dl>
				<dt><span>本次礼盒产品的羊肉出自哪里？</span></dt>
				<dd><span>本次礼盒产品羊肉来自山西右玉走地羊，即天然放牧，原始放羊，非集中圈养的育肥羊，无任何工业饲料</span></dd>
			</dl>
			<dl>
				<dt><span>相比其他同类产品，为什么价格不一样？</span></dt>
				<dd><span>科尔沁羊业拥有自有牧场、羊源及销售渠道，省略中间环节，避免层层加价，并且专注精选高品质的羊肉产品，让你享受到货真架势的美味。</span></dd>
			</dl>

			<dl>
				<dt><span>收到的产品出现问题怎么办？</span></dt>
				<dd><span>运输过程中轻微化冻属于正常现象，请收到产品后立即冷冻储存或者食用；如签收后发现产品破损、错发、变质等问题，请联系羊客微信客户或者拨打400-656-8876，我们会尽快为您确认问题并采取相应措施。</span></dd>
			</dl>
		</div>
	</section>
	<!--购买须知E-->
</div>
<script type="text/javascript" src="http://mat1.gtimg.com/www/mobi/js/zepto.min.js"></script>
<script type="text/javascript" src="http://mat1.gtimg.com/joke/and/js/touch.js"></script>
</body>
</html>